<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Nossas Aventuras - Trilhando Teresópolis</title>
    </head>

    <body>

        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgAvent">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h3 class="text-center text-white font-weight-bold bg-success">
                    NOSSAS AVENTURAS
                </h3>
            </div>
        </section>

        {%include "ListaEventos.html"%}

        <section>
            <div class="container container-fluid container-md">
                <p class="ttt">
                    Veja por onde já passamos!
                </p>
            </div>
        </section>
        
        <section>            
            <div class="home">
                <div class="container-fluid container-md">
                    <div class="carousel slide" id="carrosel" data-ride="carousel" data-interval="4000">  
                        <div class="carousel-inner carrossel bg-white" >
                            <p>
                                <div class="carousel-item active">
                                    <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/travessia13.jpg" alt="Travessia Petrópolis - Teresópolis" width="735px">
                                    <div class="carousel-caption d-none d-md-block"></div>
                                        <h5 class="text-center text-dark font-weight-bold">
                                            Portais de Hércules <br>Travessia Petrópolis - Teresópolis
                                        </h5>
                                    </div>
                            </p>

                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/travessia1dia.jpg" alt="Travessia Petrópolis - Teresópolis" width="850px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Parque Nacional da Serra dos Órgãos - Sede Petrópolis <br>Travessia Petrópolis - Teresópolis
                                </h5>
                            </div>

                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/travessia14.jpg" alt="Travessia Petrópolis - Teresópolis" width="735px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Parque Nacional da Serra dos Órgãos - Sede Petrópolis <br>Travessia Petrópolis - Teresópolis
                                </h5>
                            </div>
                
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/tijuca2.jpg" alt="Pico da Tijuca" width="650px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Pico da Tijuca - RJ
                                </h5>
                            </div>
                            
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/Dois Bicos.jpg" alt="Dois Bicos" width="820px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Dois Bicos - Terê - Fri 
                                </h5>
                            </div>

    
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/tartaruga4.jpg" alt="Pedra da Tartaruga" width="490px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Pedra da Tartaruga <br> Teresópolis - RJ
                                </h5>
                            </div>

                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/bonsucesso.jpg" alt="" width="740px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Torres de Bonsucesso <br> Teresópolis - RJ
                                </h5>
                            </div>
    
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/rafting.jpg" alt="Pedra da Tartaruga" width="850px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Rafting - Três Rios - RJ
                                </h5>
                            </div>
    
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/ilha grande2.jpg" alt="Ilha Grande" width="620px">
                                <h5 class="text-center text-dark font-weight-bolder">
                                    Ilha Grande <br> Angra dos Reis - RJ
                                </h5>
                            </div>
    
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/ilha grande.jpg" alt="ilha grande" width="720px">
                                <h5 class="text-center text-dark font-weight-bolder">
                                    Ilha Grande <br> Angra dos Reis - RJ
                                </h5>
                            </div>
    
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/ibiti2.jpg" alt="Ibitipoca" width="900px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Lago das Miragens e Paredão Santo Antônio - Circuito das Águas <br> Ibitipoca - MG
                                </h5>
                            </div>

                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/ibiti3.jpg" alt="Ibitipoca" width="720px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Circuito das Águas <br> Ibitipoca - MG
                                </h5>
                            </div>
                
                            <div class="carousel-item carousel-fade">
                                <img  class="img-fluid mx-auto d-block" src="Imagens/Aventuras/janela do céu.jpg" alt="Janela do Céu" width="740px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Janela do Céu <br> Ibitipoca - MG
                                </h5>
                            </div>
                
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/terreirao.jpg" alt="Terreirao - Pico da Bandeira" width="700px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Terreirão <br>Pico da Bandeira - ES - MG
                                </h5>
                            </div>
                
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/pico2.jpg" alt="Pico da Bandeira" width="925px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Pico da Bandeira - ES - MG
                                </h5>
                            </div>
                
                            <div class="carousel-item carousel-fade">
                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/pico3.jpg" alt="Pico da Bandeira" width="550px">
                                <h5 class="text-center text-dark font-weight-bold">
                                    Pico da Bandeira - ES - MG
                                </h5>
                            </div>
                
                            <a class="carousel-control-prev text-dark" href="#carrosel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                
                            <a class="carousel-control-next" href="#carrosel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section>

        <div class="container gallery-container">

            <h1>Nossa Galeria</h1>
        
            <p class="page-description text-center">Mais lugares por onde já passamos!</p>
            
            <div class="tz-gallery">
        
                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/Escalavrado visto do Dedo de Deus.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/Escalavrado visto do Dedo de Deus.jpg" alt="Escalavrado Visto do Dedo de Deus">
                            <h5 class="text-center font-weight-bold text-success">
                                Escalavrado Visto do Dedo de Deus
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/dedoDeDeusVistaNossaSenhora.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/dedoDeDeusVistaNossaSenhora.jpg" width="20px" alt="Dedo De Deus Vista do Dedo de Nossa Senhora">
                            <h5 class="text-center font-weight-bold text-success">
                                Dedo de Deus Vista do Dedo de Nossa Senhora
                            </h5>
                        </a>

                    </div>

                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/cabecaDeDragao.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/cabecaDeDragao.jpg" alt="Cabeça de Dragão">
                            <h5 class="text-center font-weight-bold text-success">
                                Cabeça de Dragão
                            </h5>
                        </a>
                        
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/cabecadeDragao2.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/cabecadeDragao2.jpg" alt="Cabeça de Dragão">
                            <h5 class="text-center font-weight-bold text-success">
                                Cabeça de Dragão
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/Gavea.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/Gavea.jpg" alt="Gávea">
                            <h5 class="text-center font-weight-bold text-success">
                                Gávea
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/itatiaia2.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/itatiaia2.jpg" alt="Itatiaia">
                            <h5 class="text-center font-weight-bold text-success">
                                Itatiaia
                            </h5>
                        </a>
                    </div>

                    
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/tartaruga6.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/tartaruga6.jpg" alt="Pedra da Tartaruga">
                            <h5 class="text-center font-weight-bold text-success">
                                Pedra da Tartaruga
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/morcego.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/morcego.jpg" alt="Pedra do Morcego">
                            <h5 class="text-center font-weight-bold text-success">
                                Pedra do Morcego
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/morcego2.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/morcego2.jpg" alt="Pedra do Morcego">
                            <h5 class="text-center font-weight-bold text-success">
                                Pedra do Morcego
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/picoDaBandeira.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/picoDaBandeira.jpg" alt="Pico Da Bandeira">
                            <h5 class="text-center font-weight-bold text-success">
                                Pico da Bandeira
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/frades.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/frades.jpg" alt="Frades">
                            <h5 class="text-center font-weight-bold text-success">
                                Frades
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/bonet.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/bonet.jpg" alt="Pedra do Bonet">
                            <h5 class="text-center font-weight-bold text-success">
                                Pedra do Bonet
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/Acu.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/Acu.jpg" alt="Pedra do Açu">
                            <h5 class="text-center font-weight-bold text-success">
                                Pedra do Açu
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/caledonia.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/caledonia.jpg" alt="Caledônia">
                            <h5 class="text-center font-weight-bold text-success">
                                Caledônia
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/PedraBonita.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/PedraBonita.jpg" alt="Pedra Bonita">
                            <h5 class="text-center font-weight-bold text-success">
                                Pedra Bonita
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/anoitecerAcu.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/anoitecerAcu.jpg" alt="Anoitecer Açu">
                            <h5 class="text-center font-weight-bold text-success">
                                Anoitecer Açu
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/rafting3.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/rafting3.jpg" alt="Rafting Três Rios">
                            <h5 class="text-center font-weight-bold text-success">
                                Rafting Três Rios
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/tresPicos.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/tresPicos.jpg" alt="Três Picos">
                            <h5 class="text-center font-weight-bold text-success">
                                Três Picos
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/picoDaBandeira2.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/picoDaBandeira2.jpg" alt="Pico Da Bandeira">
                            <h5 class="text-center font-weight-bold text-success">
                                Pico da Bandeira
                            </h5>
                        </a>
                    </div>                        

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/tresmunicipios.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/tresmunicipios.jpg" alt="Três municipios">
                            <h5 class="text-center font-weight-bold text-success">
                                Três Municípios
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/frades2.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/frades2.jpg" alt="Frades">
                            <h5 class="text-center font-weight-bold text-success">
                                Frades
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/itacoatiara.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/itacoatiara.jpg" alt="itacoatiara">
                            <h5 class="text-center font-weight-bold text-success">
                                Itacoatiara
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/PedraDaTijuca.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/PedraDaTijuca.jpg" alt="Pedra Da Tijuca">
                            <h5 class="text-center font-weight-bold text-success">
                                Pedra da Tijuca
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/parquedacidade.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/parquedacidade.jpg" alt="Parque da Cidade">
                            <h5 class="text-center font-weight-bold text-success">
                                Parque da Cidade
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/portaisDeHercules.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/portaisDeHercules.jpg" alt="Portais de De Hércules">
                            <h5 class="text-center font-weight-bold text-success">
                                Portais de Hércules
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/AnoitecerAcu2.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/AnoitecerAcu2.jpg" alt="Anoitecer Açu">
                            <h5 class="text-center font-weight-bold text-success">
                                Anoitecer Açu
                            </h5>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="Imagens/Aventuras/travessiaGarrafao.jpg">
                            <img class="img-fluid img-thumbnail" src="Imagens/Aventuras/travessiaGarrafao.jpg" alt="TravessiaGarrafao">
                            <h5 class="text-center font-weight-bold text-success">
                                Travessia Petrópolis - Teresópolis (Garrafão)
                            </h5>
                        </a>
                    </div>
                    
                </div>            
            </div>
        
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
            baguetteBox.run('.tz-gallery');
        </script>

    </section>

        <hr>

        {% include "footer.html"%}

    </body>
</html>