<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Eventos PNE - Trilhando Teresópolis</title>

        <style>
            
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgbateVoltaPNE">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>
        
        <div class="container container-fluid container-md">
            <h3 class="text-white text-center font-weight-bold bg-success">
                BATE E VOLTA PNE
            </h3>
        </div>
        

        {%include "ListaEventos.html"%}

        <!--<section>
            <div class="container-md container-fluid">
                INICIO FORMULARIO BOTAO PAGSEGURO
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
                NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO
                <input class="dist" type="hidden" name="code" value="D8EA452E1313CCAFF4FE6FB26A42E8CD" />
                <input class="dist" type="hidden" name="iot" value="button" />
                <input class="dist" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </form>
                 FINAL FORMULARIO BOTAO PAGSEGURO 
            </div>
        </section>-->


        <section>
            <p>
                <div class="container-fluid container-md">
                    <h3 class="font-weight-bold">Próximos Eventos Bate e Volta PNE</h3>
        
                    <p class="ttt">
                        <span>
                            Nos envie um <a href="#enviar">email</a> e agende sua aventura!
                        </span>
                    </p>

                    <div class="container container-fluid container-md">
                        <div class="row">
                        <div class="col-md-3">
                            <div class=" card border w3-light-green w3-animate-top">
                                <a href="rafting">
                                    <img src="Imagens/Aventuras/rafting7.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Rafting</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">R$240,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="rafting">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3">
                            <div class=" card border w3-light-blue w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="picoTijuca3">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border border-warning w3-pale-red w3-animate-top">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-primary" href="picoTijuca3">Veja Aqui o Evento</a> ou
                                        <a class="text-primary" href="mailto:robson.rtrs@hotmail.com">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border w3-border-khaki w3-khaki w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="w3-text-blue" href="picoTijuca3">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                    <p>
                        <!--<h4 class= "font-weight-bold">
                            <p>
                                Informaremos em breve!
                            </p>
                        </h4>-->
                <div>
                    <ul>                
                        <p>
                            <li class="font-weight-bold">SETEMBRO</li>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="https://www.netdiario.com.br/noticias/conheca-os-dois-bicos-do-vale-de-sebastiana" target="_blank">
                                        DOIS BICOS
                                    </a><br>
                                    <i class="fa fa-globe text-info"></i>
                                        LOCAL: TERESOPOLIS <br>
                                    <i class="fa fa-calendar text-dark"></i>
                                        DATA: 07/09/19 <br>
                                    <i class="fa fa-money text-success"></i>
                                        VALOR: R$50,00<br>
                                        😃NÍVEL: LEVE<br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                        VAGAS: 5 <br>
                                        <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                        <!--{% include "submit.html"%}-->
                                </li>        
                            </ul>
                        </p>

                        <br>

                        <p>
                            <li class="font-weight-bold">OUTUBRO</li>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="https://pt.wikipedia.org/wiki/Pico_Peito_do_Pombo" target="_blank" rel="noopener noreferrer">
                                        PEITO DE POMBO
                                    </a> <br>
                                    <i class="fa fa-globe text-info"></i>
                                        LOCAL: SANA <br>
                                    <i class="fa fa-calendar text-dark"></i>
                                        DATA: 06/10/19 <br>
                                    <i class="fa fa-money text-success"></i>
                                        VALOR: R$130,00 <br>
                                        🤨NÍVEL: MÉDIO A PESADO <br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                        VAGAS: 5 <br>
                                        <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                        <!--{% include "submit.html"%}-->
                                </li>

                                <p>
                                    <li>
                                        <i class="fa fa-map-marker text-success"></i>
                                        <a class="font-weight-bold" href="https://trilhandomontanhas.com/vivianctelles/trilha-da-pedra-do-osso-rj/" target="_blank" rel="noopener noreferrer">
                                            PEDRA DO OSSO
                                        </a><br>
                                        <i class="fa fa-globe text-info"></i>
                                            LOCAL: RIO DE JANEIRO <br>
                                        <i class="fa fa-calendar text-dark"></i>
                                            15/10/19 <br>
                                        <i class="fa fa-money text-success"></i>
                                            VALOR: R$90,00 <br>
                                            😅NÍVEL: MODERADO <br>
                                        <i class="fa fa-hourglass-half text-danger"></i>
                                            VAGAS: 5 <br>
                                            <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                            <!--{% include "submit.html"%}-->
                                    </li>
                                </p>  
                            </ul> 
                        </p>

                        <br>

                        <p>
                            <li class="font-weight-bold">NOVEMBRO</li>
                            <ul>
                                <li>                            
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="https://www.trilhaseaventuras.com.br/trilhas-do-parque-estadual-da-pedra-branca-rj/" target="_blank" rel="noopener noreferrer">
                                        PEDRA BRANCA
                                    </a> <br>
                                    <i class="fa fa-globe text-info"></i>
                                        LOCAL: RIO DEJANEIRO <br>
                                    <i class="fa fa-calendar text-dark"></i>
                                        DATA: 10/11/19 <br>
                                    <i class="fa fa-money text-success"></i>
                                        VALOR: R$80,00 <br>
                                        😅NÍVEL: MODERADO <br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                        VAGAS: 5 <br>
                                        <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                        <!--{% include "submit.html"%}-->
                                </li>
                            </ul>
                        </p>

                        <br>    
                        
                        <p>
                            <li class="font-weight-bold">DEZEMBRO (CONFRATERNIZAÇÃO)</li>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="picoTijuca3" rel="noopener noreferrer">PICO DA TIJUCA</a> + 
                                    <a class="font-weight-bold" href="https://quantocustaviajar.com/blog/trilha-mirante-da-cascatinha-rio-de-janeiro/" target="_blank" rel="noopener noreferrer">
                                        MIRANTE DA CASCATINHA
                                    </a> <br>
                                    <i class="fa fa-globe text-info"></i>
                                    LOCAL: RIO DE JANEIRO <br>
                                    <i class="fa fa-calendar text-dark"></i>
                                    DATA: 08/12/19 <br>
                                    <i class="fa fa-money text-success"></i>
                                    VALOR: R$80,00 <br>
                                    😅NÍVEL: MODERADO <br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                    VAGAS: 5 <br>
                                    <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                    <!--{% include "submit.html"%}-->
                                            
                                </li>
                            </ul>
                        </p>
                    </ul>
                </p>
                </div><br><br>
            </p>
        </section>

        <section>
            <p>
                <div id="enviar" class="container-fluid container-md">
                    <p class="ttt">Clique aqui e agende sua trilha com a gente!</p>
                    <a class="btn btn-success btn-group-toggle" href="mailto:trilhandoteresopolis@gmail.com" target="_blank">Clique Aqui</a>
                </div>
            </p>
        </section>

        <hr>
        
        {% include "footer.html"%}
        
    </body>
</html>