<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}

  <title>Cargueira - Trilhando Teresópolis</title>
</head>


<body>
    <header class="container-fluid container-md">
        <div class="jumbotron-fluid JumboHeadImgCargueira">
            {% include "nav.html"%}
        </div>
    </header>

    <section>
        <div class="container container-fluid container-md">
            <h3 class="text-center text-white font-weight-bolder bg-success">
                NOSSAS DICAS - COMO PREPARAR SUA MOCHILA CARGUEIRA
            </h3>
        </div>
    </section>

    <section class="vamosver">
    <p class="container container-fluid container-md">
        Aqui mostraremos como preparar sua mochila cargueira para uma travessia.
    </p>
    </section>

    <section>
        <p>
          <div class="container-fluid container-md identa">                

                <p>
                    Entenda que a mochila cargueira é um item muito importante na sua aventura.
                    Dependendo do percurso, e tipo de trekking há uma mochila adequada.
                    A mochila cargueira escolhida de forma errada, pode trazer sérios problemas de saúde.
                </p>

                <p>
                    Lembre-se que a mochila cargueira é um equipamento de transporte,
                    e como tal, deve ser organizada com critério. Pois a organização não se faz ao acaso,
                    para evitar pregas e espaço morto.
                </p>

                <p>
                    Arrume sua mochila com antecedência de no mínimo dois dias, faça uma lista do que levar na aventura.
                    Elabore uma lista pessoal e importantes pra você.
                </p>

                <p>
                    Agrupe por itens, como: roupas; casa e cama; cozinha; acessórios; emergência; proteção, higiene pessoal e ferramentas.
                    Para não deixar todo jogado dentro da mochila, separe os itens em sacos plásticos grossos que além de organizar, protege de eventuais mudanças climáticas.
                    Não confie na impermeabilidade da mochila; ela não é um estanque.
                </p>

                <h5 class="font-weight-bold identa">
                    <ul>
                        <li>Tente arrumar tudo dentro da mochila!</li>
                    </ul>
                </h5>

                <p>
                    Coloque no máximo pelo lado de fora os bastões de caminhada e o isolante térmico ou barraca. Jamais faça de sua mochila uma árvore de natal. 
                    Itens pendurados, nem pensar! Pois serve para enroscar em obstáculos e pode até , derrubar você e estragar o final de semana de todos ao seu redor!
                    Escolha um modelo que tenha recursos técnicos.
                </p>

                <p>
                    <div class="text-center">
                        <img class="img-fluid" src="Imagens/blog.blag_.us_.jpg" alt="">
                        <figcaption class="align-self-md-baseline">Foto: blog.blag.us</figcaption>
                    </div>
                </p>

                <ol class="identa">
                    <li class="cargueira"><p class="font-weight-bold">Teto</p></li>

                    Nessa parte deve-se colocar os objetos leves, como o isolante térmico.
        
                    <li class="cargueira"><p class="font-weight-bold">Tampa telescópico ou Chapéu (tampa superior)</p></li>
                    
                    É indicado para itens pequenos e leves. Divida em duas partes, em cima: carteira, mapa, bússola, máquina 
                    fotográfica, diário de viagem, gps. Em baixo: remédios, papel higiênico, óculos de sol, desodorante, pente, itens de manutenção pequenos.

                    <li class="cargueira"><p class="font-weight-bold">Saída da mangueira de Hidrobag (recipiente para água)</p></li>
                    Muito Útil para evitar paradas.

                    <li class="cargueira"><p class="font-weight-bold">Bolsas laterais</p></li>
                        Existe dois bolsos na lateral da mochila
                            
                        <ul> <span class="font-weight-bold">Se for destros:</span> Coloque os itens mais importantes do lado direito</ul>
                        <ul> <span class="font-weight-bold">Se for canhotos:</span> Priorize o lado esquerdo.</ul>
                        <ul><span class="font-weight-bold">Para destros:</span>
                        Bolso direito: lanterna, canivete, pilhas, tesoura, martelo de barraca, acendedor(protegido de umidade).
                        Bolso esquerdo: alimentos básicos, barrinha de cereais, frutas secas.
                        Para canhoto
                        Inverta as posições acima.</ul>

                    <li class="cargueira"><p class="font-weight-bold">Corpo principal</p></li>
                        No corpo da mochila devemos colocar os itens de maior volume e que não serão acessados durante a trilha.
                        Itens pesados (cozinha) embaixo; saco de dormir, acima;
                        itens compridos como varetas e facão, ficam de pé, próximo às costas e roupas separadas por sacos identificados.

                    <li class="cargueira"><p class="font-weight-bold">Acesso frontal</p></li>
                        Abertura, para evitar abri por cima, quando precisar retirar algum item que estiver no meio do corpo principal.

                    <li class="cargueira"><p class="font-weight-bold">Bolso inferior</p></li>
                        Nesse bolso se colocar a barraca dobrada em forma quadrada embaixo de tudo, para dá estabilidade na mochila, para ficar em pé.
                        Também vai chinelos, saco de lixo e roupa molhada (devidamente embalada).

                    <li class="cargueira"><p class="font-weight-bold">Suporte para bastões de caminhada</p></li>
                    <li class="cargueira"><p class="font-weight-bold">Fitas de ajustes (compactador) laterais e frontais</li>
                        OBS: Os itens 3 e 6 são disponíveis em alguns modelos.

                    <li class="cargueira"><p class="font-weight-bold">Parte de trás da mochila</p></li>
                    <span class="font-weight-bold">A</span> – Regulador da alça <br>
                    <span class="font-weight-bold">B</span> – Costas e alças acolchoadas <br>
                    <span class="font-weight-bold">C</span> – Barrigueira largas e bem acolchoadas <br>
                    Escolha uma mochila de boa qualidade com as opções acima, no mercado existem mochilas cargueira de boa qualidade a partir de R$ 600,00.

                    <p>
                        <div class="text-center">
                            <img class="img-fluid" src="Imagens/exemploCargueira.jpg" alt="">
                            <figcaption class="align-self-md-baseline">Cargueira (Fonte: trekkingrs)</figcaption>
                        </div>
                    </p>

                    <li class="cargueira"><p class="font-weight-bold">Dicas importantes</p></li>
                    – O peso que você pode carregar nunca deve ultrapassar 1/3 do seu peso corporal. Se você pesa 75 kg, o peso de carga da mochila não será superior há 25 kg. <br>
                    <p></p>
                    – É muito importante comprar uma capa de chuva para a sua mochila. E um esticador (aquele elásticos de moto mesmo) para ajudar a prender a sua Capa a mochila! 
                    Durante uma travessia sempre tem a possibilidade de pegar muito vento e sua capa voar caso não esteja bem presa! <br>

                    – Como organizar os alimentos e outros itens de cozinha acima da roupa, colocando tudo que for possível dentro de potes,
                    para não colocar comida e outros materiais em contato. <br>

                    – As capas de chuva ou jaquetas devem estar em locais de acesso fácil e rápido. <br>
                    – A barraca pode ficar do lado externo à mochila (presa naquela tampa que comentamos acima) e estar envolta em um saco impermeável. <br>

                    – Pode ser utilizado uma garrafa PET mesmo para armazenar agua!

                </ol>

                <p class="text-right font-weight-bolder">
                    Referência: <a class=" text-success" href="https://trekkingrs.com/saiba-como-organizar-a-mochila-cargueira/" 
                      target="_blank" rel="noopener noreferrer">TrekkingRS</a><br>
                      Texto: <a class=" text-success" href="https://www.facebook.com/people/Evandro-Luis-Clunc/100006873008250"
                      target="_blank" rel="noopener noreferrer">Evandro Luis Clunc</a><br>
                      Empresa: <a class=" text-success" href="http://soldeindiada.com.br/" target="_blank" rel="noopener noreferrer">Sol de Indiana</a>
                  </p>
            </div>
        </p>
    </section>

    <section>
        <p>
            <p>
                <div class="container container-fluid container-md" id="enviar">
                    <p class="ttt" id="não especial">Clique aqui e agende sua trilha com a gente!</p>
                    <a class="btn btn-success btn-group-toggle" href="mailto:trilhandoteresopolis@gmail.com" target="_blank">Clique Aqui</a>
                </div>
            </p>
        </p>            
    </section>

    <section>
        <div class="container-fluid container-md">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Mais Dicas</a></li>
                <li class="page-item disabled"><a class="page-link" href="cargueira">1</a></li>
                <li class="page-item"><a class="page-link" href="iniciantes">2</a></li>
            </ul>
        </div>
    </section>

    <hr>

    {% include "footer.html"%}
</body>
</html>