<section>
  <p>
      <div class="container-fluid container-md dropdown">
          <nav>
              <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Nossos Produtos
              </a>
      
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <h6 class="dropdown-header">CONFIRA</h6>
                      <a class="dropdown-item font-weight-bold disabled" href="produtos">Produtos</a>
                      <a class="dropdown-item text-success font-weight-bold" href="agendas">Agendas</a>
                      <a class="dropdown-item text-dark font-weight-bold disabled" href="#"><s>Camisas</s></a>
                      <a class="dropdown-item text-success font-weight-bold" href="canecas">Canecas</a>
              </div>
          </nav>
      </div>
  </p>
</section>