<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" href="css/w3.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

        <meta name="author" content="Robson Teodoro Rodrigues da Silva">
        <meta name="description" content="Trilhando Teresópolis, sua aventura começa aqui">
        <meta name="robots" content="index, follow">
        
        <title>Eventos PNE - Trilhando Teresópolis</title>

        <link rel="icon" href="Imagens/logo2.jpg">

        <style>
            
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgEvento">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>
        

        <section>
            {%include "ListaEventos.html"%}       
        </section>

        <!--<section>
            <div class="container-md container-fluid">
                INICIO FORMULARIO BOTAO PAGSEGURO
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
                NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO
                <input class="dist" type="hidden" name="code" value="D8EA452E1313CCAFF4FE6FB26A42E8CD" />
                <input class="dist" type="hidden" name="iot" value="button" />
                <input class="dist" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </form>
                 FINAL FORMULARIO BOTAO PAGSEGURO 
            </div>
        </section>-->


        <section>
            <p>
                <div class="container-fluid container-md">
                    <h3 class="font-weight-bold">
                        <a class="text-success" href="bateVolta">Próximos Eventos de Bate e Volta</a>
                    </h3>
        
                    <p class="ttt">
                        <span>
                            Nos envie um <a href="#enviar">email</a> e agende sua aventura!
                        </span>
                    </p>

                    <div class="container container-fluid container-md">
                        <div class="row">
                        <div class="col-md-3">
                            <div class=" card border w3-light-green w3-animate-top">
                                <a href="rafting">
                                    <img src="Imagens/Aventuras/rafting7.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Rafting</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">R$240,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="rafting">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3">
                            <div class=" card border w3-light-blue w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="picoTijuca3">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border border-warning w3-pale-red w3-animate-top">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-primary" href="picoTijuca3">Veja Aqui o Evento</a> ou
                                        <a class="text-primary" href="mailto:robson.rtrs@hotmail.com">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border w3-border-khaki w3-khaki w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="w3-text-blue" href="picoTijuca3">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <p></p><br>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <h3 class="font-weight-bold text-success">
                        <a class="text-success" href="feriados">Próximos Eventos em Feriados</a>
                    </h3>
        
                    <p class="ttt">
                        <span>
                            Nos envie um <a href="#enviar">email</a> e agende sua aventura!
                        </span>
                    </p>

                    <div class="container container-fluid container-md">
                        <div class="row">
                        <div class="col-md-3">
                            <div class=" card border w3-light-green w3-animate-top">
                                <a href="rafting">
                                    <img src="Imagens/Aventuras/rafting7.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Rafting</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">R$240,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="rafting">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3">
                            <div class=" card border w3-light-blue w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="picoTijuca3">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border border-warning w3-pale-red w3-animate-top">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-primary" href="picoTijuca3">Veja Aqui o Evento</a> ou
                                        <a class="text-primary" href="mailto:robson.rtrs@hotmail.com">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border w3-border-khaki w3-khaki w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="w3-text-blue" href="picoTijuca3">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <p></p><br>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <h3 class="font-weight-bold text-success">
                        <a class="text-success" href="fds">Próximos Eventos em Finais de Semana</a>
                    </h3>
        
                    <p class="ttt">
                        <span>
                            Nos envie um <a href="#enviar">email</a> e agende sua aventura!
                        </span>
                    </p>

                    <div class="container container-fluid container-md">
                        <div class="row">
                        <div class="col-md-3">
                            <div class=" card border w3-light-green w3-animate-top">
                                <a href="rafting">
                                    <img src="Imagens/Aventuras/rafting7.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Rafting</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">R$240,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="rafting">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3">
                            <div class=" card border w3-light-blue w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="picoTijuca3">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border border-warning w3-pale-red w3-animate-top">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-primary" href="picoTijuca3">Veja Aqui o Evento</a> ou
                                        <a class="text-primary" href="mailto:robson.rtrs@hotmail.com">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border w3-border-khaki w3-khaki w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="w3-text-blue" href="picoTijuca3">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <p></p><br>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <h3 class="font-weight-bold text-success">
                        <a class="text-success" href="bateVoltaPNE">Próximos Eventos Bate e Volta PNE</a>
                    </h3>
        
                    <p class="ttt">
                        <span>
                            Nos envie um <a href="#enviar">email</a> e agende sua aventura!
                        </span>
                    </p>

                    <div class="container container-fluid container-md">
                        <div class="row">
                        <div class="col-md-3">
                            <div class=" card border w3-light-green w3-animate-top">
                                <a href="rafting">
                                    <img src="Imagens/Aventuras/rafting7.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Rafting</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">R$240,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="rafting">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3">
                            <div class=" card border w3-light-blue w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="picoTijuca3">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border border-warning w3-pale-red w3-animate-top">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-primary" href="picoTijuca3">Veja Aqui o Evento</a> ou
                                        <a class="text-primary" href="mailto:robson.rtrs@hotmail.com">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border w3-border-khaki w3-khaki w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="w3-text-blue" href="picoTijuca3">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <p></p><br>

        <section>
            <p>
                <div id="enviar" class="container-fluid container-md">
                    <p>Clique aqui e agende sua trilha com a gente!</p>
                    <a class="btn btn-success btn-group-toggle" href="mailto:trilhandoteresopolis@gmail.com" target="_blank">Clique Aqui</a>
                </div>
            </p>
        </section>

       

        <hr>        
        {% include "footer.html" %}
    </body>
</html>