<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Eventos - Trilhando Teresópolis</title>

        <style>
            
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgEvent">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <h3 class="font-weight-bold">Próximos Eventos de 2020</h3>
        
                    <p>
                        <span>
                            Nos envie um <a href="#enviar">email</a> e agende sua aventura!
                        </span>
                    </p>
        
                    <p>
                        <!--<h4 class= "font-weight-bold">
                            <p>
                                Informaremos em breve!
                            </p>
                        </h4>-->
                        <ul>                
                            <li class="font-weight-bold">SETEMBRO</li>
                                    <ul>
                                        <li>
                                            📌<a href="https://www.netdiario.com.br/noticias/conheca-os-dois-bicos-do-vale-de-sebastiana" target="_blank">DOIS BICOS</a><br>
                                            🌎LOCAL: TERESOPOLIS <br>
                                            🗓DATA:07/09/19 <br>
                                            💰VALOR:R$50,00<br>
                                            🙂NIVEL:LEVE<br>
                                        </li>        
                                        <p>
                                            <li>
                                                📌<a href="https://pt.wikipedia.org/wiki/Pico_das_Agulhas_Negras" target="_blank">AGULHAS NEGRAS</a> X 
                                                    <a href="https://pt.wikipedia.org/wiki/Morro_do_Couto" target="_blank">MORRO DO COUTO</a>  <br>
                                                🌎LOCAL: ITATIAIA<br>
                                                🗓DATA: 28 e 29 /09/19<br>
                                                💰VALOR: R$360,00<br>
                                                🥵NIVEL: PESADO<br>
                                            </li>
                                        </p>        
                                        <p>
                                            <li>
                                                📌<a href="https://www.trilhaseaventuras.com.br/rafting-rio-paraibuna-em-tres-rios-rj/" target="_blank">RAFTING</a><br>
                                                🌎LOCAL:TRÊS RIOS<br>
                                                🗓DATA:22/09/19<br>
                                                💰VALOR: R$270,00<br>
                                            </li>
                                        </p>
                                    </ul>
                                    
                            <li class="font-weight-bold">OUTUBRO</li>
                                <ul>
                                    <p>
                                        <li>
                                            📌<a href="https://pt.wikipedia.org/wiki/Pico_Peito_do_Pombo" target="_blank" rel="noopener noreferrer">PEITO DE POMBO</a> <br>
                                            🌎LOCAL: SANA <br>
                                            🗓DATA: 06/10/19 <br>
                                            💰VALOR: R$ 130,00 <br>
                                            😰NIVEL: MÉDIO A PESADO <br>
                                        </li>
                                    </p>
                
                                    <p>
                                        <li>
                                            📌<a href="https://trilhandomontanhas.com/vivianctelles/trilha-da-pedra-do-osso-rj/" target="_blank" rel="noopener noreferrer">PEDRA DO OSSO</a><br>
                                            🌎LOCAL: RIO DE JANEIRO <br>
                                            🗓15/10/19 <br>
                                            💰VALOR:R$90,00 <br>
                                            🙂NIVEL:MODERADO <br>
                                        </li>
                                    </p>  
                                </ul> 
        
                            <p>
                                <li class="font-weight-bold">NOVEMBRO</li>
                                <ul>
                                    <p>
                                        <li>                            
                                            📌<a href="https://www.trilhaseaventuras.com.br/trilhas-do-parque-estadual-da-pedra-branca-rj/" target="_blank" rel="noopener noreferrer">PEDRA BRANCA</a> <br>
                                            🌎LOCAL: RIO DEJANEIRO <br>
                                            🗓DATA:10/11/19 <br>
                                            💰VALOR:80,00 <br>
                                            🙂NIVEL:MODERADO <br>
                                        </li>
                                    </p>
                
                                    <p>
                                        <li>
                                            📌<a href="https://pt.wikipedia.org/wiki/S%C3%A3o_Tom%C3%A9_das_Letras" target="_blank" rel="noopener noreferrer">SAO TOMÉ DAS LETRAS</a> <br>
                                            🌎LOCAL: MINAS GERAIS <br>
                                            🗓DATA:DIA: 14,15,16 e 17/11/19 <br>
                                            💰VALOR: (será divulgado) <br>
                                        </li>
                                    </p>  
                                </ul> 
                            </p>
                                
                            
                            <p>
                                <li class="font-weight-bold">DEZEMBRO (CONFRATERNIZAÇÃO)</li>
                                <ul>
                                    <p>
                                        <li>
                                            📌<a href="https://freewalkertours.com/pt-br/pico-da-tijuca/" target="_blank" rel="noopener noreferrer">PICO DA TIJUCA</a> + 
                                            <a href="https://quantocustaviajar.com/blog/trilha-mirante-da-cascatinha-rio-de-janeiro/" target="_blank" 
                                                    rel="noopener noreferrer">MIRANTE DA CASCATINHA</a> <br>
                                            🌎LOCAL: RIO DE JANEIRO <br>
                                            🗓DATA:08/12/19 <br>
                                            💰VALOR:80,00 <br>
                                            🙂NIVEL:MODERADO <br>
                                        </li>
                                    </p>
                                </ul>
                            </p>
                        </ul>
                    </p>
                </div><br><br>
            </p>
        </section>

        <section>
            <p>
                <div id="enviar" class="container-fluid container-md">
                    <p>Clique aqui e agende sua trilha com a gente!</p>
                    <a class="btn btn-success btn-group-toggle" href="mailto:trilhandoteresopolis@gmail.com" target="_blank">Clique Aqui</a>
                </div>
            </p>
        </section>

        <hr>

        {% include "footer.html"%}
    </body>
</html>