<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Eventos Finais de Semana - Trilhando Teresópolis</title>

        <style>
            
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgFds">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h3 class="text-center text-white font-weight-bolder bg-success">
                    EVENTOS DE FINAIS DE SEMANA
                </h3>
            </div>
        </section>

        {%include "ListaEventos.html"%}

        <section>
            <p>
                <div class="container-fluid container-md">
                    <h3 class="font-weight-bold">Próximos Eventos de Finais de Semana de 2020</h3>

                    <br>
        
                    <!--<p class="ttt">
                        <span>
                            Nos envie um <a href="#enviar">email</a> e agende sua aventura!
                        </span>
                    </p>
        
                    <p>
                        <h4 class= "font-weight-bold">
                            <p>
                                Informaremos em breve!
                            </p>
                        </h4>-->
                        <ul>                
                            <li class="font-weight-bold">Outubro</li>
                            <ul>                                
                                <li>
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="rafting">
                                        RAFTING
                                    </a><br>
                                    <i class="fa fa-globe text-info"></i>
                                        LOCAL: TRÊS RIOS<br>
                                    <i class="fa fa-calendar text-dark"></i>
                                        DATA: 11/10/2020<br>
                                    <i class="fa fa-money text-success"></i>
                                        VALOR: R$240,00 à vista
                                        ou 2x de R$120,00<br>
                                        <i class="fa fa-credit-card"></i>
                                        ou R$260,00 divididos em 10x no cartão de crédito <br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                        VAGAS: 5 <br>
                                        <!--<a class="btn btn-success" href="rafting">Conheça</a>-->
                                        <!--{% include "submit.html"%}-->
                                </li>                
                            </ul>                            
                        </ul>
                    </p>
                </div><br><br>
            </p>
        </section>

        <!--<section>
            <p>
                <div id="enviar" class="container-fluid container-md">
                    <p>Clique aqui e agende sua trilha com a gente!</p>
                    <a class="btn btn-success btn-group-toggle" href="mailto:trilhandoteresopolis@gmail.com" target="_blank">Clique Aqui</a>
                </div>
            </p>
        </section>-->

        <hr>
        
        {% include "footer.html"%}
    </body>
</html>