<section>
    <footer class="page-footer container-fluid container-md text-center">
        <div class="container-fluid container-md bg-white">
            <p>                        
                <div class="row" id="rodape">
                    <div class="col-md-2">
                        <img src="Imagens/logo001.jpg" alt="logo" width="157px" >
                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="w3-text-teal font-weight-bolder">Serviços</h5>

                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-question-circle text-success"></i>
                                <a class="text-success font-weight-bolder" data-toggle="modal" href="#idDF1">Dúvidas Frequentes</a><br>

                                <!-- Modal -->
                                <div class="modal fade" id="idDF1" role="dialog">
                                    <div class="modal-dialog">
                                    
                                    <!-- Modal content-->
                                    <div class="modal-content ">
                                        <div class="modal-header bg-success">
                                            <h4 class="modal-title text-white font-weight-bold">Dúvidas Frequentes</h4>
                                            <!--<button type="button" class="close" data-dismiss="modal">&times;;</button>-->
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tempor dui.
                                                Vivamus quis consectetur nulla. Quisque at ligula libero.
                                                Curabitur erat elit, aliquam a rutrum condimentum, iaculis at dolor. Integer ac convallis mi.
                                                Sed vulputate sapien fringilla dui efficitur blandit. Morbi gravida iaculis nisi quis commodo.
                                                Vestibulum bibendum placerat nisl et imperdiet. Curabitur sodales porttitor eros. 
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>                                            
                                </div>
                            </li>                                

                            <li>
                                <i class="fa fa-file-text text-success"></i>
                                <a class="text-success font-weight-bolder" data-toggle="modal" href="#idDF2">Termos de Uso</a><br>

                                <!-- Modal -->
                                <div class="modal fade" id="idDF2" role="dialog">
                                    <div class="modal-dialog">
                                    
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header bg-success">
                                            <h4 class="modal-title text-white font-weight-bold">Termos de Uso</h4>
                                            <!--<button type="button" class="close" data-dismiss="modal">&times;;</button>-->
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tempor dui.
                                                Vivamus quis consectetur nulla. Quisque at ligula libero.
                                                Curabitur erat elit, aliquam a rutrum condimentum, iaculis at dolor. Integer ac convallis mi.
                                                Sed vulputate sapien fringilla dui efficitur blandit. Morbi gravida iaculis nisi quis commodo.
                                                Vestibulum bibendum placerat nisl et imperdiet. Curabitur sodales porttitor eros. 
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>                                            
                                </div>
                            </li>

                            <li>
                                <i class="fa fa-legal text-success"></i>
                                <a class="text-success font-weight-bolder" data-toggle="modal" href="#idDF3">Políticas de Cancelamento</a><br>

                                <!-- Modal -->
                                <div class="modal fade" id="idDF3" role="dialog">
                                    <div class="modal-dialog">
                                    
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header bg-success">
                                            <h4 class="modal-title text-white font-weight-bold">Políticas de Cancelamento</h4>
                                            <!--<button type="button" class="close" data-dismiss="modal">&times;;</button>-->
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tempor dui.
                                                Vivamus quis consectetur nulla. Quisque at ligula libero.
                                                Curabitur erat elit, aliquam a rutrum condimentum, iaculis at dolor. Integer ac convallis mi.
                                                Sed vulputate sapien fringilla dui efficitur blandit. Morbi gravida iaculis nisi quis commodo.
                                                Vestibulum bibendum placerat nisl et imperdiet. Curabitur sodales porttitor eros. 
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>                                            
                                </div>
                            </li>

                            <li>
                                <i class="fa fa-handshake-o text-success "></i>
                                <a class="text-success font-weight-bolder" href="parceiros.html">Parceiros</a><br>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 mb-md-0 mb-5">
                        <h5 class="w3-text-teal font-weight-bolder">Contato</h5>

                        <ul class="list-unstyled">
                            <li>
                                <h6 class="text-success font-weight-bolder">
                                    <i class="fa fa-envelope"></i>
                                    Email: <a href="mailto:trilhandoteresopolis@gmail.com">trilhandoteresopolis@gmail.com</a>
                                </h6>
                            </li>

                            <li>
                                <h6 class="text-success font-weight-bolder">
                                    <i class="fa fa-whatsapp font-weight-bold"></i>
                                    Telefone/WhatsApp: <a href="https://wa.me/5521995452811?text=Olá%20Trilheiro"> (21) 99545-2811</a>
                                </h6>
                            </li>

                            <li>
                                <h6 class="text-success">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    <a class="text-success font-weight-bolder" href="https://www.facebook.com/trilhando.teresopolis" target="_blank">Facebook/TrilhandoTeresopolis</a>
                                </h6>
                            </li>

                            <li>
                                <h6 class="text-success">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <a class="text-success font-weight-bolder" href="https://instagram.com/trilhandoteresopolis?igshid=1vq7gglu8x5j7" target="_blank">Instagram/TrilhandoTeresopolis</a>
                                </h6>
                            </li>
                            
                            <li>
                                <h6 class="text-success">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                    <a class="text-success font-weight-bolder" href="#" target="_blank">YouTube/TrilhandoTeresopolis</a>
                                </h6>
                            </li>
                        </ul>                                 
                    </div>

                    <div class="col-md-2 mb-md-0 mb-3">
                        <ul class="list-unstyled">
                            <li>
                                <h5 class="w3-text-teal font-weight-bolder">Pagamento</h5>
                                <p>
                                    <img src="Imagens/cartao.png" alt="">
                                </p>

                                <p>
                                    <img src="Imagens/picpay.png" alt="">
                                </p>
                            </li>
                        </ul>
                    </div>

                    <script src="js/jquery.js"></script>
                    <script src="js/bootstrap.bundle.min.js"></script>
                    <script src="scripts.js"></script>
                    
                </div>
            </p>
        </div>
    </footer>
</section>