<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
    </head>

    <body>
        
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgGuias">
                    {% include "nav.html"%}
                </div>
            </header>
          </section>
        
        <div class="container container-fluid container-md">
            <h3 class="text-white text-center font-weight-bold bg-success">
                CONHEÇA NOSSOS GUIAS
            </h3>
        </div>

        <section>
            <div class="container container-fluid container-md">                    
                <p class="teste">
                    Amantes do montanhismo, os irmãos <a href="https://www.instagram.com/pablorochagram/" target="_blank" rel="noopener noreferrer">Pablo Rocha</a>  e 
                    <a href="https://www.instagram.com/carirch/" target="_blank" rel="noopener noreferrer">Carine Ribeiro</a>, juntamente com
                    <a href="https://www.instagram.com/edventure_expedicoes/" target="_blank">Edson Sena</a> (Eddy), concluíram em 2019
                    o curso de guias da <strong>Cadastur</strong> pela.....
                </p>

                <p class="teste">
                    Hoje guias cadastrados Cadastur e oficializados como guias na
                    <strong>
                        <a href="https://www.turismo.teresopolis.rj.gov.br/servicos/guiasdeturismo" target="_blank">
                            Prefeituta de Teresópolis
                        </a> 
                    </strong>
                    realizam excursões dentro do Estado do Rio de Janeiro, incluindo trilhas, expedições, turismo e rafting. Agende sua
                    próxima aventura nos enviando um <a href="#enviar">email</a>!
                </p>    
            </div>
        </section>

        <section>
            <p>
                <div class="container container-fluid container-md">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="card border border-info bg-info">
                                <a class="text-light font-weight-bolder" href="https://www.instagram.com/pablorochagram/" target="_blank">
                                    <img src="Imagens/Guias/pablo3.jpg" alt="Pablo Rocha" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-md-center"><b>Pablo Rocha</b></h5>
                                    <p class="ttt card-text text-md-center">CADASTUR 19.464413.37-4</p>
                                    <p class="ttt card-footer text-md-center">
                                        <a class="text-light font-weight-bolder" href="https://www.instagram.com/pablorochagram/" target="_blank">Instagram</a>    
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="card border border-warning bg-warning">
                                <a class="text-success font-weight-bolder" href="https://www.instagram.com/carirch/" target="_blank">
                                    <img src="Imagens/Guias/carine3.jpg" alt="Carine Ribeiro" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-md-center"><b>Carine Ribeiro</b></h5>
                                    <p class="ttt card-text text-md-center">CADASTUR 19.239899.42-8</p>
                                    <p class="ttt card-footer text-md-center">
                                        <a class="text-success font-weight-bolder" href="https://www.instagram.com/carirch/" target="_blank">Instagram</a>
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="card border border-danger bg-danger">
                                <a class="text-warning font-weight-bolder text-center" href="https://www.instagram.com/edventure_expedicoes/" target="_blank">
                                    <img src="Imagens/Guias/eddy3.jpg" alt="Edson Sena" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-md-center"><b>Edson Sena (Eddy)</b></h5>
                                    <p class="ttt card-text text-md-center">CADASTUR 19.476495.43-2</p>
                                    <p class="ttt card-footer text-md-center">
                                        <a class="text-warning font-weight-bolder text-center" href="https://www.instagram.com/edventure_expedicoes/" target="_blank">Instagram</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-md-3">
                            <div class="card w3-pink">
                                <a class="text-warning font-weight-bolder text-center" href="https://www.instagram.com/karina.belo/" target="_blank">
                                    <img src="Imagens/Guias/karina2.jpg" alt="Karina Belo" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-md-center"><b>Karina Belo</b></h5>
                                    <p class="ttt card-text text-md-center">CADASTUR 19.364056.79-0</p>
                                    <p class="ttt card-footer text-md-center">
                                        <a class="text-warning font-weight-bolder text-center" href="https://www.instagram.com/karina.belo/" target="_blank">Instagram</a>
                                    </p>
                                </div>
                            </div>
                        </div>-->

                    </div>
                </div>
            </p>
        </section>

        <section>
            <p>
                <div class="container container-fluid container-md" id="enviar">
                    <p class="ttt" id="não especial">Clique aqui e agende sua trilha com a gente</p>
                    <a class="btn btn-success btn-group-toggle" href="mailto:trilhandoteresopolis@gmail.com" target="_blank">Clique Aqui</a>
                </div>
            </p>
        </section>

        <hr>

        {% include "footer.html"%}
    </body>
</html>