<section>
  <p>
      <div class="container-fluid container-md dropdown">
          <nav>
              <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Eventos
              </a>
      
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <h6 class="dropdown-header">Próximos Eventos</h6>
                      <a class="dropdown-item text-success font-weight-bold" href="eventos.html">Todos os Eventos</a>
                      <a class="dropdown-item text-success font-weight-bold" href="bateVolta">Eventos Bate e Volta</a>
                      <a class="dropdown-item text-success font-weight-bold" href="feriados">Eventos Feriados</a>
                      <a class="dropdown-item text-success font-weight-bold" href="fds">Eventos Finais de Semana</a>
                      <h6 class="dropdown-divider"></h6>
                  <h6 class="dropdown-header">Próximos Eventos PNE</h6>
                      <a class="dropdown-item text-success font-weight-bold" href="bateVoltaPNE">Eventos PNE</a>
              </div>
          </nav>
      </div>
  </p>
</section>