
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="/">
            <img src="/Imagens/logo2.jpg" alt="Trilhando Teresópolis" width="110px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavBar"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavBar">
            <ul class="navbar-nav">
                
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-success" href="guias">
                        <i class="fa fa-map-marker"></i>
                        Nossos Guias
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-success" href="aventuras">
                        <i class="fa fa-plane"></i>
                        Nossas Aventuras</a>
                </li>

                <li class="nav-item active dropdown">
                    <a class="nav-link font-weight-bold text-success dropdown-toggle" href="#" id="navbarDropDown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-map-signs"></i>
                            Próximos Eventos
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link font-weight-bold text-success" href="bateVolta">Bate e Volta</a>
                            <a class="nav-link font-weight-bold text-success" href="feriados">Feriados</a>
                            <a class="nav-link font-weight-bold text-success" href="fds">Finais de Semana</a>
                            <h6 class="dropdown-divider"></h6>
                            <a class="nav-link font-weight-bold text-success" href="bateVoltaPNE">Bate e Volta PNE <i class="fa fa-wheelchair"></i> </a>
                        </div>
                </li>

                <li class="nav-item active dropdown">
                    <a class="nav-link font-weight-bold text-success dropdown-toggle" href="#" id="navbarDropDown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i>
                            Compras
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link font-weight-bold text-success" href="agendas">Agendas</a>
                            <a class="nav-link font-weight-bold text-dark disabled" href="#"><s>Camisas</s></a>
                            <a class="nav-link font-weight-bold text-success" href="canecas">Canecas</a>
                        </div>
                </li>

                <!--<li class="nav-item active">
                    <a class="nav-link font-weight-bold text-success" href="produtos">
                        <i class="fa fa-shopping-cart"></i>
                            Compras
                    </a>                                    
                </li>-->

                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-success" href="noticiasPrincipal">
                        <i class="fa fa-newspaper-o"></i>
                        Notícias
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-success" href="pnePrincipal">
                        <i class="fa fa-wheelchair font-weight-bold"></i>
                        PNE
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-success" href="dicas">
                        <i class="fa fa-lightbulb-o"></i>
                        Dicas</a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-success" href="sobre">
                        <i class="fa fa-hourglass-2"></i>
                        Sobre Nós
                    </a>
                </li>

                <!--<li class="nav-item active">
                    <a class="nav-link font-weight-bold text-success" href="formulario">
                        <i class="fa fa-sign-in"></i>
                        Login/Cadastro</a>
                </li>-->
            </ul>
        </div>
    </nav>
