<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "head.html"%}
  <title>Notícias - Trilhando Teresópolis</title>
</head>

<body>
  <section>
    <header class="container-fluid container-md">
        <div class="jumbotron-fluid JumboHeadImgDOIS">
            {% include "nav.html"%}
        </div>
    </header>    
  </section>

  <section>
      <div class="container container-fluid container-md">
          <h4 class="text-center text-white font-weight-bolder bg-success">
              NOTÍCIAS
          </h4>
      </div>
  </section>

  <section>
      <p>
          <div class="container-fluid container-md">
              <div>
                  <p>
                      <h3 class="text-center font-weight-bolder">
                        Pesquisa mostra como a COVID-19 irá mudar a maneira que aproveitamos a natureza
                      </h3>
                  </p>

                  <p>
                      Praticar atividades de natureza, seja turismo de aventura ou algum esporte outdoor se popularizou imensamente nos últimos anos.
                      O aspecto negativo é que apareceu pessoas despreparadas, tanto tecnicamente como psicologicamente, para fazer parte desta comunidade.    
                  </p>

                  <p>
                    Para quem está respeitando o distanciamento social (porque é um dever como cidadão), já deve ter percebido que muita coisa 
                    será diferente quando o processo de isolamento começar a ser desfeito. Máscaras, distanciamento social e preocupação com a 
                    abertura de áreas públicos para visitantes: esses são apenas alguns dos fatores que entrarão em cena quando pensamos em 
                    passar o tempo em algum lugar.                       
                  </p>
                  
                  <p>
                    Além disso, algumas áreas, que antes eram abertas, estarão fechadas por pusilânimes que peitaram o isolamento social.
                    Muitos destes, exibindo um cinismo que demonstra a sua falta de caráter, justificaram o injustificável. As consequências
                    já estão sendo implementadas no Brasil e no exterior.
                  </p>

                  <p>
                    A COVID-19, sem dúvida, mudou a maneira como lidamos com o dia a dia. Quando queríamos nos afastar de tudo e nos liberar um pouco de estresse,
                    voltávamos para nossas atividades outdoor favoritas. No entanto, já existem dados que mostram como estas atividades estão mudando drasticamente,
                    graças ao vírus e também às pessoas que desrespeitaram a quarentena
                  </p>

                  <p>
                    <h4 class="font-weight-bold">
                      Estudos já mostram mudanças
                    </h4>
                  </p>

                  <p>
                    Uma pesquisa nos EUA feita por institutos que monitoram as áreas naturais, como a Leave No Trace, em parceria com a Pennsylvania State University
                    sobre percepções e expectativas de visitantes durante a pandemia do COVID-19, mostrou um futuro bem diferente nas áreas de práticas de atividades outdoor. 
                    Tanto em áreas públicas, como em particulares.
                  </p>

                  <p>
                    A pesquisa mostrou resultados interessantes de como as pessoas estão mudando a maneira como desenvolvem suas atividades outdoor. Os dados foram coletados 
                    em dois dias por meio de pesquisas on-line que começaram em 9 de abril. Ao todo, mais de 1.012 praticantes de atividades outdoor participaram da Fase I da pesquisa.
                  </p>

                  <p>
                    As pesquisas mais recentes (Fase II) foram coletadas em outro período de dois dias, iniciado em 30 de abril, com 823 praticantes 
                    de atividades outdoor que se estendem geograficamente em 47 estados diferentes dos EUA.
                  </p>

                  <p>
                    Agora é mais provável que as pessoas que praticam atividades outdoor nos EUA viajem em grupos muito menores. Antes da pandemia, os entrevistados disseram que o 
                    tamanho médio dos grupos era, em média, de 5,81 pessoas. Entre 11 de março e 9 de abril, o tamanho dos grupos caiu drasticamente para apenas, em média, 1,85 pessoas.
                  </p>

                  <p>
                    Desde 9 de abril, os resultados da Fase II da pesquisa viram um ligeiro aumento no tamanho médio do grupo para 2,15 pessoas.
                  </p>

                  <p>
                    <h4 class="font-weight-bold">
                      Limitações
                    </h4>
                  </p>

                  <p>
                    Como consequência de várias notícias de pessoas que desrespeitaram a quarentena, a liberdade de todos agora será limitada. 
                    Esta consequência pode ser colocada nos praticantes ‘patrocinados’ que pensam que são uma
                    casta especial sociedade, como aconteceu no Brasil recentemente.
                  </p>
                  
                  <p>
                    Como consequência de várias notícias de pessoas que desrespeitaram a quarentena, a liberdade de todos agora será limitada. 
                    Esta consequência pode ser colocada nos praticantes ‘patrocinados’ que pensam que são uma 
                    casta especial sociedade, como aconteceu no Brasil recentemente.
                  </p>
                  
                  <p>
                    Portanto, não se surpreenda se nos locais de escalada e trekking haja limitações de pessoas e exigências de reservas. 
                    Esta é a consequência mais direta da repercussão de quem desrespeitou a quarentena.
                  </p>
                  
                  <p>
                    Nos EUA já existe exigência de licença e capacidade limitada em terrenos públicos que receberam tráfego significativo de 
                    visitantes durante a quarentena. Por exemplo, para escalar o Monte Whitney (4.421 m), na Califórnia, é preciso solicitar 
                    uma licença e ser selecionado com base em um sistema de loteria.
                  </p>
                  
                  <p>
                    Talvez essa seja uma estratégia futura para todos os parques para limitar o número de usuários a um nível aceitável e seguro.
                    Os parques devem também incentivar o uso de máscaras faciais e que os parques devem ter políticas em vigor que ajudem a gerenciar multidões.
                  </p>

                  <p class="font-weight-bold text-right">
                    Referência: <a href="https://blogdescalada.com" target="_blank" rel="noopener noreferrer">http://Blogdescalada</a>
                  </p>
              </div>
          </div>
      </p>
  </section>

  <section>
      <div class="container container-fluid container-md">
          <ul class="pagination">
              <li class="page-item disabled"><a class="page-link" href="#">Mais Notícias</a></li>
              <li class="page-item"><a class="page-link" href="noticiasCBME">1</a></li>
              <li class="page-item disabled"><a class="page-link" href="noticiasDois">2</a></li>
              <li class="page-item"><a class="page-link" href="noticiasTres">3</a></li>
          </ul>
      </div>
  </section>

  <hr>

  {% include "footer.html"%}
    </body>
</html>