<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Notícias - Trilhando Teresópolis</title>

        <style>
            
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgCBME">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h4 class="text-center text-white font-weight-bolder bg-success">
                    NOTÍCIAS
                </h4>
            </div>
        </section>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <div>
                        <p>
                            <h3 class="text-center font-weight-bolder">
                                Nota CBME: montanhistas unidos contra o COVID-19 
                            </h3>
                        </p>
    
                        <p>
                            A Confederação Brasileira de Montanhismo e Escalada (CBME) publicou uma nota no dia 24/03/2020 sobre a prática do montanhismo frente
                            à pandemia do COVID-19 e vimos aqui atualizar as orientações.    
                        </p>
    
                        <p>
                            A CBME reenfatiza a necessidade de todos seguirem as medidas preventivas estipuladas pelas autoridades para ajudar a controlar a propagação do coronavírus.
                            Tendo em vista o cenário atual da pandemia e em consonância às suas entidades membros, a CBME recomenda que todos os
                             montanhistas – caminhantes de trilhas e escaladores – sigam as recomendações de permanecer em isolamento social e ficar em casa o maior tempo possível.                       
                        </p>
                        
                        <p>
                            A decisão de ficar em casa não é fácil e sabemos o impacto que ela tem nas nossas vidas. Sentimos falta do cheiro do mato, de mergulhar na cachoeira, de tocar a pedra, 
                            de sentir o braço bombar, de estar com amigos. A escalada, a trilha, o montanhismo, o boulder nos definem, são parte de quem somos. Entendemos o sentimento
                            e compartilhamos as saudades, a necessidade, a vontade.
                        </p>
    
                        <p>
                            Mas nesse momento, mais do que nunca, precisamos aplicar os conhecimentos adquiridos na montanha – interdependência, parceria, gerenciamento de risco, etc. – à 
                            vida cotidiana. O conceito de que a nossa segurança e a do próximo é consequência da decisão de cada um deve ser aplicado também nas escolhas diárias,
                            o que atualmente pressupõe evitar a circulação o máximo possível.
                        </p>
    
                        <p>
                            Nossos projetos de trilhas, de mandar aquela via ou aquele problema ou chegar naquele cume podem esperar. O momento é de solidariedade, de empatia,
                            de união em prol do bem comum, em prol de toda a sociedade.
                        </p>
    
                        <p class="font-weight-bolder">Contamos com vocês! Fiquem em casa!</p>
                    </div>
                </div>
            </p>
        </section>

        <section>
            <div class="container container-fluid container-md">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Mais Notícias</a></li>
                    <li class="page-item disabled"><a class="page-link" href="noticiasCBME">1</a></li>
                    <li class="page-item"><a class="page-link" href="noticiasDois">2</a></li>
                    <li class="page-item"><a class="page-link" href="noticiasTres">3</a></li>
                </ul>
            </div>
        </section>

        <hr>

        {% include "footer.html"%}
    </body>
</html>