<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Notícias PNE - Trilhando Teresópolis</title>

        <style>
            
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgPNE1">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h4 class="text-center text-white font-weight-bolder bg-success">
                    ACESSIBILIDADE
                </h4>
            </div>
        </section>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <div>
                        <p>
                            <h3 class="text-center font-weight-bolder">
                              1ª trilha com trecho para cadeirantes e deficientes visuais na região é inaugurada em Cachoeiras de Macacu, RJ
                            </h3>
                        </p>
    
                        <p class="">
                          Dia 25 de setembro de 2018 foi inaugurada a trilha Grande Vida, a primeira com trecho adaptado para portadores de necessidades 
                          especiais do município de Cachoeiras de Macacu. A iniciativa de criar a trilha, estendendo às pessoas com deficiência, com a contemplação 
                          da Mata Atlântica, é do projeto Guapiaçu Grande Vida, realização da REGUA, com o apoio da Prefeitura de Cachoeiras de Macacu e patrocínio da Petrobras.    
                        </p>
    
                        <p>
                          A trilha receberá placas para interpretação ambiental em todo o seu percurso, o que possibilitará aos professores, condutores e visitantes 
                          trabalharem diversos conteúdos em plena <strong>Reserva Ecológica de Guapiaçu (REGUA)</strong>. A trilha contará também com um trecho de 400m de acessibilidade,
                          permitindo o acesso de deficientes físicos até o observatório dos alagados. Além disso, haverá um cabo guia por todo o trecho, permitindo que deficientes
                          visuais também aproveitem o trajeto.
                        </p>
                        
                        <p>
                          O presidente da REGUA, Nicholas Locke, fala sobre a importância da trilha. “Essas áreas de baixadas, pantanosas são formadas pela água da serra e 
                          das montanhas, que carrega partículas de areia e material orgânico. Com muitos nutrientes em suspensão, grandes e pequenos animais são atraídos para 
                          viver nesse local. Algumas espécies até precisam deste habitat para completar seu ciclo de vida, como camarões e peixes de água doce, atraindo muitas
                          aves e animais de grande porte, como, jacarés e capivaras”.
                        </p>
    
                        <p>
                          Segundo ele, a trilha é preparada para levar os visitantes a conhecerem melhor este ambiente. É uma experiência fascinante para entender melhor 
                          onde a gente vive e também é uma maneira de despertar a curiosidade dos jovens que começarão a se interessar pelo assunto.
                        </p>
    
                        <p>
                          E Locke faz um convite: “Traga binóculos e lupa e veja os seres vivos que vivem nessas áreas alagadas. Perceba as dezenas, centenas ou milhares
                          de espécies e processos que fazem parte da nossa própria existência. Afinal de contas, buscamos entender um mundo em equilíbrio e queremos compreender
                          melhor esses lugares.
                        </p>

                        <p>
                            <div class="text-center">
                                <img class="img-fluid" src="Imagens/PNE/pne1.jpg" alt="">
                            </div>
                        </p>
    
                        <p>
                          O projeto Guapiaçu Grande Vida prevê receber na trilha Grande Vida, nos próximos 14 meses, mais de 1.500 visitantes.
                          “Acreditamos que a trilha fortaleça nossas ações de educação ambiental reforçando o contato com a natureza de forma a sensibilizar jovens 
                          para a preservação do meio ambiente. A emoção de estar na trilha interpretativa é muito mais forte do que ver as árvores nas imagens de televisão, 
                          dos livros ou da internet”, explica a Coordenadora Tatiana Horta. Por meio dessa atividade é possível passar mensagens ao público de maneira informal,
                          o que permite a participação no processo ensino-aprendizagem de forma mais agradável e consistente.
                        </p>

                        <p class="text-right font-weight-bolder">
                            Referência: <a href="https://www.ecodebate.com.br/" target="_blank" rel="noopener noreferrer">ecodebate.com.br</a>
                        </p>
                    </div>
                </div>
            </p>
        </section>

        <section>
            <p>
                <div class="container container-fluid container-md">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Mais Notícias</a></li>
                        <li class="page-item disabled"><a class="page-link" href="noticiaPNE1">1</a></li>
                        <li class="page-item"><a class="page-link" href="noticiaPNE2">2</a></li>
                        <li class="page-item"><a class="page-link" href="noticiaPNE3">3</a></li>
                    </ul>
                </div>
            </p>
        </section>

        <hr>

        {% include "footer.html"%}
    </body>
</html>