<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "head.html"%}
  <title>Notícias - Trilhando Teresópolis</title>
</head>
<body>

  <section>
    <header class="container-fluid container-md">
        <div class="jumbotron-fluid JumboHeadImgTRES">
            {% include "nav.html"%}
        </div>
    </header>    
  </section>

  <section>
      <div class="container container-fluid container-md">
          <h4 class="text-center text-white font-weight-bolder bg-success">
              NOTÍCIAS
          </h4>
      </div>
  </section>

  <section>
      <p>
          <div class="container-fluid container-md">
              <div>
                  <p>
                      <p>
                        <h3 class="text-center font-weight-bolder">
                            Shell, Vale e Votorantim assinam compromisso de proteção à biodiversidade
                          </h3>
                      </p>
                      <h6>
                        <p class="text-center font-weight-bold">
                            Empresas participam, com outras 10 companhias que atuam no Brasil, de movimento ecológico global.
                            Ações poderão ser acompanhadas em plataforma digital
                        </p>
                      </h6>
                  </p>

                  <p>
                      Um grupo de 13 empresas brasileiras ou com atuação no país firmou um compromisso para estabelecer e divulgar metas de proteção à biodiversidade.
                      A iniciativa, capitaneada pelo Conselho Empresarial Brasileiro para o Desenvolvimento Sustentável (CEBDS), faz parte de um movimento global e proteção 
                      à natureza, liderado pela coalizão Business for Nature, que já conta com 400 companhias.     
                  </p>

                  <p>
                    Assinaram o compromisso as companhias Anglo American, Bayer, Boticário, BRK Ambiental, Eletrobras, Equinor, Furnas, Natura, Philip Morris, Shell, 
                    Suzano, Vale e Votorantim Cimentos. Foram estabelecidas nove metas de proteção à biodiversidade, sendo que cada empresa se comprometeu com no mínimo três delas.                       
                  </p>
                  
                  <p>
                    “Além de buscar atingir as metas, as companhias terão de divulgar periodicamente seus avanços”, afirma Henrique Luz, coordenador da câmara temática de biodiversidade do CEBDS. 
                    Para dar transparência a esse processo, o conselho está lançando uma plataforma digital que vai divulgar as ações e os resultados obtidos pelas empresas. 
                  </p>

                  <p>
                    Por meio da plataforma, será possível acompanhar o cumprimento das metas estabelecidas, tanto em relação à mensuração do impacto do negócio na natureza quanto à dependência 
                    que cada empresa tem dos serviços ambientais, ou seja, dos recursos naturais. “Um dos objetivos da iniciativa é demonstrar quanto as atividades econômicas dependem da 
                    biodiversidade”, afirma Luz.
                     “A pandemia atual é um exemplo claro disso.” O Brasil é o país mais biodiverso do mundo, concentrando 20% da biodiversidade global. Além disso, detém 12% da água do planeta.
                  </p>

                  <p>
                    Esses recursos naturais geram dividendos ao país. Estudo publicado pela revista científica Perspectives In Ecology and Conservation,
                    endossado por mais de 400 cientistas brasileiros, aponta que a vegetação nativa preservada em propriedades rurais, área que soma 270 milhões de hectares, 
                    rende por ano ao país cerca de 6 trilhões de reais em serviços florestais, como polinização, controle de pragas, segurança hídrica, produção de chuvas e qualidade do solo. 
                  </p>

                  <p>
                    Outra publicação, desenvolvida pela Plataforma Brasileira de Biodiversidade e Serviços Ecossistêmicos, mostra que cada hectare de floresta em pé na Amazônia movimenta 
                    3.500 reais na economia, por ano. Já 1 hectare desmatado para a pecuária movimenta até 100 reais. Se usado para soja, o valor sobre para 1.000 reais.
                  </p>

                  <p>
                    O CEBDS também participa de um esforço mundial que busca definir métricas mais precisas para avaliar os impactos das atividades econômicas na biodiversidade.
                    Liderado pela Natural Capital Coalition, coalizão formada por 300 organizações empresariais e da sociedade civil, o projeto deve publicar neste ano o resultado
                    de um trabalho multidisciplinar para determinar parâmetros de atuação responsável, com foco na biodiversidade. “É importante que as empresas trabalhem baseadas
                    em ciência”, afirma Luz.
                  </p>

                  <p class="font-weight-bold text-right">
                      Referência: <a href="https://exame.com/negocios/shell-vale-e-votorantim-assinam-compromisso-de-protecao-a-biodiversidade/" target="_blank"
                              rel="noopener noreferrer">http://exame.com</a>
                      <br> Por Rodrigo Caetano                     
                      <br> Publicado em: 20/05/2020 às 15h23 - Alterado em: 20/05/2020 às 16h08                   
                  </p>
              </div>
          </div>
      </p>
  </section>

  <section>
      <div class="container container-fluid container-md">
          <ul class="pagination">
              <li class="page-item disabled"><a class="page-link" href="#">Mais Notícias</a></li>
              <li class="page-item"><a class="page-link" href="noticiasCBME">1</a></li>
              <li class="page-item"><a class="page-link" href="noticiasDois">2</a></li>
              <li class="page-item disabled"><a class="page-link" href="noticiasTres">3</a></li>
          </ul>
      </div>
  </section>

  <hr>

        {% include "footer.html"%}
    </body>
</html>