<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Notícias PNE - Trilhando Teresópolis</title>
    </head>

    <body>
      <section>
        <header class="container-fluid container-md">
            <div class="jumbotron-fluid JumboHeadImgPNE2">
                {% include "nav.html"%}
            </div>
        </header>    
      </section>

        <section>
            <div class="container container-fluid container-md">
                <h4 class="text-center text-white font-weight-bolder bg-success">
                    ACESSIBILIDADE
                </h4>
            </div>
        </section>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <div>
                        <p>
                            <h3 class="text-center font-weight-bolder">
                              Prefeitura de São Sebastião - SP investe em turismo de aventura adaptada
                            </h3>
                        </p>
    
                        <p>
                          Pensando em melhorar a estrutura e ampliar o atendimento do projeto itinerante Turismo de Aventura Especial,
                          realizado pela Secretaria da Pessoa Com Deficiência e do Idoso (SEPEDI), a Prefeitura de São Sebastião adquiriu no dia 6 de dezembro,
                          duas cadeiras adaptadas para trilhas, conhecidas como Juliette.      
                        </p>
    
                        <p>
                          Com os novos equipamentos, a iniciativa criada para oferecer melhores condições e experiências de lazer, esporte,
                          cultura e turismo para pessoas com deficiência física e dificuldades de locomoção como cadeirantes e idosos, pretende atrair
                          um número cada vez maior de participantes que desejam usufruir mais intensamente do contato com a natureza. 
                        </p>
                        
                        <p>
                          Desde que foi implantado, em janeiro de 2018, o projeto realizou alguns passeios experimentais com a cadeira 
                          Juliette – cedida em regime de comodato. O retorno positivo da comunidade beneficiada foi um dos motivos que levaram a compra dos novos equipamentos.
                        </p>

                        <p>
                          <div class="text-center">
                            <img class="img-fluid" src="Imagens/PNE/juliette.jpg" alt="">
                          </div>
                        </p>
    
                        <p>
                          Para Elisene dos Santos, mãe de Daiane, 17 anos, que tem hidrocefalia, e que fez um passeio pela Trilha do Ribeirão de Itu, em Boiçucanga,
                          em setembro do ano passado, a vivência foi um sonho realizado. “Nos divertimos muito. Ela tem muitas limitações, mas com a cadeira especial foi
                          possível fazer a trilha. Foi maravilhoso ver ela em contato com a natureza”, contou.
                        </p>
    
                        <p>
                          O turismo de aventura adaptada é uma atividade nova no Brasil, no entanto tem crescido nos últimos anos.
                          O projeto deu uma pausa na agenda até o fim do ano, mas volta com a programação em 2020.
                        </p>

                        <p class="text-right font-weight-bolder">
                            Referência: <a href="http://www.saosebastiao.sp.gov.br/noticia.asp?ID=N1112201916247" target="_blank" rel="noopener noreferrer">
                                Prefeitura de São Sebastião - SP investe em turismo de aventura adaptada
                            </a>
                        </p>
                        
                    </div>
                </div>
            </p>
        </section>

        <section>
            <div class="container container-fluid container-md">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Mais Notícias</a></li>
                    <li class="page-item"><a class="page-link" href="noticiaPNE1">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="noticiaPNE2">2</a></li>
                    <li class="page-item"><a class="page-link" href="noticiaPNE3">3</a></li>
                </ul>
            </div>
        </section>

        <hr>

        {% include "footer.html"%}
    </body>
</html>