<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Notícias PNE - Trilhando Teresópolis</title>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgPNE3">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h4 class="text-center text-white font-weight-bolder bg-success">
                    ACESSIBILIDADE
                </h4>
            </div>
        </section>

        <section>
            <p>
                <div class="container container-fluid container-md">
                    <div>
                        <p>
                            <h3 class="text-center font-weight-bolder">
                              Projeto 'Parque Para Todos'  leva alunos com deficiência ao Parque do Vulcão
                            </h3>
                        </p>
    
                        <p>
                          Tocar diferentes texturas de árvores, sentir o cheiro fresco da terra, ouvir o som dos pássaros. Tudo isso em um
                          ambiente rodeado de verde e biodiversidade. Esta foi a experiência que crianças com deficiência tiveram na manhã desta
                          terça-feira (24), ao participarem da primeira ação do projeto 'Parque Para Todos', da Prefeitura de Nova Iguaçu. 
                          Cerca de 15 alunos da rede municipal de ensino portadores de deficiência participaram de uma visita ao Parque Natural Municipal, o Parque do Vulcão. 
                          Os estudantes foram acompanhados por colegas escolhidos por eles, professores e agentes da Guarda Ambiental Municipal (GAM).
                        </p>
    
                        <p>
                          O 'Parque Para Todos' foi desenvolvido pela Secretaria Municipal de Meio Ambiente, Agricultura, Desenvolvimento Econômico e Turismo (SEMADETUR)
                          em parceria com as Secretarias de Educação (SEMED) e de Esporte e Lazer (SEMEL) além da Escola de Governo. A ação fez parte das atividades do
                          ‘Setembro Verde’, que dá visibilidade à luta das pessoas com deficiência. Durante o passeio os alunos puderam fazer atividades físicas, 
                          passear pelas trilhas do parque, visitar poços d’água, conhecer espécies nativas da região e até mesmo tocar em uma cobra. 
                        </p>
                        
                        <p>
                          “Cada vez mais, encaramos de frente o desafio de cuidar da saúde da pessoa com deficiência de forma responsável e igualitária em Nova Iguaçu. 
                          No 'Parque Para Todos', oferecemos uma atividade que promove ganhos na saúde física e emocional das crianças e também de seus familiares e amigos, 
                          que são fundamentais nessa rede de cuidado”, explica o Prefeito Rogerio Lisboa. Segundo ele, a prefeitura vem investindo na qualificação dos profissionais
                          de Educação, para que as escolas municipais sejam cada vez mais inclusivas.
                        </p>

                        <p>
                            <div class="text-center">
                                <img class="img-fluid text-md-center" src="Imagens/PNE/pne2.jpg" alt="">
                                <figcaption class="align-self-md-baseline">Wallan da Costa Martins</figcaption>
                            </div>
                        </p>

                        <p>
                          Aluno do 6º ano da Escola Municipal Darcílio Ayres Raunheitti, Wallan da Costa Martins tem 14 anos e é cego. 
                          Ele ‘enxerga’ o mundo através dos olhos de Gabriel Costa Nascimento, 15 anos, seu melhor amigo. A parceria na escola 
                          fez com que Gabriel fosse convidado por Wallan para acompanhá-lo no passeio. Foi ele quem ajudou o amigo a caminhar 
                          com segurança pelas trilhas e poços d’água e também a compreender a textura das plantas, árvores e até de uma cobra, por meio do toque.
                        </p>
    
                        <p>
                          “Gostei muito do passeio. Agradeço ao Gabriel por ter vindo comigo, pois sem ele seria difícil conseguir me divertir. Foi tudo maravilhoso”, 
                          comemorou Wallan. Mas foi Gabriel quem se sentiu grato por ter tido a oportunidade de ajudar o amigo. “Foi um dia muito gratificante. 
                          Eu o guiei durante todo o passeio, li as informações nas placas, o ajudei a tocar as plantas, a cobra, falei sobre as cores e texturas de tudo 
                          o que vimos. Estar aqui foi uma grande conquista para nós dois, uma oportunidade única”, disse, emocionado, Gabriel.
                        </p>

                        <p>
                          Para a gerente da Educação Especial Inclusiva de Nova Iguaçu, Nathália Araújo de Sá, o objetivo do projeto foi alcançado. 
                          “Trouxemos crianças cegas, surdas, autistas, com múltiplas deficiências. Todas elas acompanhadas por amigos sem deficiência. 
                          E foi justamente estes os que aprenderam as maiores lições: socialização, interação e respeito. Algo fundamental em nossas vidas”, afirmou Nathália,
                           revelando que a experiência promoveu também o desenvolvimento da autonomia da pessoa com deficiência. 
                          “O projeto mostrou que elas não são pessoas incapacitantes. Quebramos o paradigma de que elas não conseguem socializar”, comemorou.
                        </p>

                        <p>
                            <div class="text-center">
                                <img class="img-fluid" src="Imagens/PNE/pne3.jpg" alt="">
                                <figcaption class="align-self-md-baseline">Grupo</figcaption>
                            </div>
                        </p>

                        <p>
                          Segundo Fernando Cid, secretário de Meio Ambiente, Agricultura, Desenvolvimento Econômico e Turismo, a ideia é tornar o Parque do Vulcão 
                          acessível de forma que permita a visitação de pessoas com as mais diversas deficiências. “Fizemos este laboratório com os alunos e fomos 
                          acompanhados por representantes da ONG Engenheiros Sem Fronteiras. 
                          A partir destas atividades, será feito um estudo do ponto de vista da engenharia para que seja criado um projeto de maior acessibilidade”, 
                          explicou Fernando Cid.
                        </p>

                        <p class="text-right font-weight-bolder">
                          Referência: <a href="http://www.novaiguacu.rj.gov.br/2019/09/24/projeto-parque-para-todos-leva-alunos-com-deficiencia-ao-parque-do-vulcao/" 
                            target="_blank" rel="noopener noreferrer">Projeto ‘Parque Para Todos’</a>
                        </p>

                        
                    </div>
                </div>
            </p>
        </section>

        <section>
            <div class="container container-fluid container-md">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Mais Notícias</a></li>
                    <li class="page-item"><a class="page-link" href="noticiaPNE1">1</a></li>
                    <li class="page-item"><a class="page-link" href="noticiaPNE2">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="noticiaPNE3">3</a></li>
                </ul>
            </div>
        </section>

        <hr>

        {% include "footer.html"%}
    </body>
</html>