<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Pdra Bonita - Trilhando Teresópolis</title>

        <style>
            
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgPeBon">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h4 class="text-center text-white font-weight-bolder bg-success">
                  PEDRA BONITA
                </h4>
            </div>
        </section>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <div>
                        <p>
                            <h3 class="text-center font-weight-bolder">
                              Trilha da Pedra Bonita – RJ
                            </h3>
                        </p>
    
                        <p>
                            Ela tem início na Estrada da Pedra Bonita, na bifurcação da Estrada das Canoas. Para chegar até lá, vá até a orla de São Conrado 
                            e suba a Estrada das Canoas. Seguindo pela mesma estrada que dá acesso à rampa de vôo, do lado direito há uma entrada com sinalização 
                            indicando o início da trilha.
                        </p>

                        <p>
                          <h6 class="font-weight-bold">
                            Sobre a Pedra Bonita
                          </h6>
                        </p>
    
                        <p>
                            A Pedra Bonita faz parte do maciço da Tijuca e tem uma altitude máxima de 696 metros, coberta, em algumas partes, 
                            de floresta de Mata Atlântica, mas existe uma grande área que foi desmatada e coberta com capim.

                            Ela é considerada um dos mirantes mais espetaculares e de fácil acesso da cidade. Lá, podemos encontrar várias atividades 
                            esportivas e recreativas tais como: vôo livre, caminhadas e alpinismo. O acesso à Pedra Bonita pode ser feito através da Estrada das Canoas, 
                            em São Conrado.
                        </p>

                        <p>
                          <h6 class="font-weight-bold">
                            Informações da trilha da Pedra Bonita
                          </h6>
                        </p>
                        
                        <p>
                            A trilha é leve, porém é um pouco íngreme o que faz com que tenha um nível de dificuldade um pouco superior à trilha do morro da Urca 
                            (Confira todos os posts sobre o Morro da Urca). Basta, apenas, ter disposição para andar.
                        </p>
                        <p>
                            Esse passeio é indicado àqueles que não têm muita experiência em trilhas, já que não exige muito preparo físico, ou para 
                            quem quer apenas apreciar um dos visuais mais bonitos do Rio de Janeiro.
                        </p>
                        <p>
                            O tempo médio de subida até o topo é de, aproximadamente, 30 minutos. A caminhada tem início na Estrada das Canoas, 
                            em São Conrado, perto da rampa de Vôo Livre. Perto dali também tem o início da trilha para a Agulhinha da Gávea.
                        </p>

                        

                        <p>
                            O início da trilha fica logo ao lado da guarita onde fica o fiscal do Parque Nacional da Tijuca, ao lado dela tem uma placa indicando o início da trilha. 
                            É só descer um pouquinho do estacionamento que você chega lá. Após deixar suas informações e o número de pessoas que estão no seu grupo, 
                            prepare-se para começar os 1.257 metros de caminhada.
                        </p>

                        <p>
                            Na parte inicial a vegetação é um pouco mais densa, fazendo com que a temperatura seja mais baixa e a caminhada mais agradável.
                        </p>

                        <p>
                            Durante o caminho, existem partes mais expostas ao sol com pouca vegetação que possa oferecer proteção natural, 
                            por isso existe a necessidade de trazer protetor solar. Além disso, o desgaste fica maior.
                        </p>

                            
                        <p>
                            A parte final da trilha é a mais cansativa, com subidas leves, mas sem grandes dificuldades. Como o terreno é um pouco arenoso, deve-se tomar cuidado para não sofre uma queda. 
                            No término da caminhada, pode-se ver no horizonte a Pedra da Gávea entre a vegetação e finalmente chega-se ao topo da Pedra Bonita.
                        </p>
    
                        <p>
                            A trilha é bem demarcada, portanto, se você não querer inventar de pegar atalhos ou cortar caminhos por outros caminhos que não são oficiais, 
                            dificilmente terá algum problema ou irá se perder.
                        </p>

                        <p>
                            <h6 class="font-weight-bold">
                                Rampa de Vôo Livre
                            </h6>
                        </p>

                        <p>
                            No retorno, você pode ir conhecer a rampa de vôo livre. Para isso terá que enfrentar um rampa bem íngreme de paralelepípedo. 
                            Vale muito a pena observar os vôos de asa delta e parapente que partem da rampa. Quem sabe não rola uma vontade de saltar também? 
                            A pista é aberta para profissionais e para quem desejar viver a experiência única de voar. Sobrevoando São Conrado, o vôo dura até 30 minutos 
                            e o pouso é na praia do Pepino, trecho da praia de São Conrado localizado no fim da Avenida Niemeyer. Deixando o friozinho na barriga de lado, os 
                            ângulos e contornos que a cidade ganha durante o vôo são de tirar o fôlego de qualquer um, carioca ou visitante.
                        </p>

                        <p>
                            Com certeza é uma trilha mais do que recomendada, não só pela sensacional vista, mas também a total interação com a natureza em variadas 
                            espécies de nossa flora. Uma aventura sem igual.
                        </p>
                        
                        <p>
                            <br>
                        </p>

                    </div>
                </div>
            </p>
        </section>

        <hr>

        {% include "footer.html"%}
    </body>
</html>