<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Tijuca - Trilhando Teresópolis</title>

        <style>
            
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgPiTij">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h4 class="text-center text-white font-weight-bolder bg-success">
                  PICO DA TIJUCA
                </h4>
            </div>
        </section>

        <!--<section>
            <div class="container-md container-fluid">
                INICIO FORMULARIO BOTAO PAGSEGURO
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
                NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO
                <input class="dist" type="hidden" name="code" value="D8EA452E1313CCAFF4FE6FB26A42E8CD" />
                <input class="dist" type="hidden" name="iot" value="button" />
                <input class="dist" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </form>
                 FINAL FORMULARIO BOTAO PAGSEGURO 
            </div>
        </section>-->

        <section>
            {% include "submit.html"%}
        </section>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <div>
                        <p>
                            <h3 class="text-center font-weight-bolder">
                              Trilha do Pico da Tijuca – Floresta da Tijuca – RJ
                            </h3>
                        </p>

                        <p>
                            <div class="text-center">
                                <img class="img-fluid text-center" src="/Imagens/PNE/tijuca2.jpg" title="Topo" width="500px">
                            </div>
                        </p>

                        <p>
                          <h6 class="font-weight-bold">
                            Topo do Pico da Tijuca
                          </h6>
                        </p>
    
                        <p>
                            A principal trilha para o Pico da Tijuca começa no Largo do Bom Retiro, que se encontra a aproximadamente 685 metros do nível do mar, 
                            o largo está situado no final da estrada dos Picos que se inicia junto à sede do Parque (Barracão).
                        </p>

                        <p>
                            O percurso é bem sinalizado e sua dificuldade é moderada. No passeio em mata fechada é possível esbarrar com borboletas, 
                            ouvir o canto dos pássaros, avistar micos divertindo-se pulando de um galho para o outro, lagartos fugindo com medo dos nossos passos,
                            além de insetos e teias de aranha. Além disso, a trilha é bem protegida do sol até o ponto onde o caminho chega na rocha que forma o pico em si,
                            daí em diante há pouca sombra e o terreno fica bem mais inclinado.
                          </p>
    
                        <p>
                            <ul>
                              <li class="font-weight-bold">SETEMBRO</li>
                                <ul>
                                    <li>
                                        <i class="fa fa-map-marker text-success"></i>
                                        <a class="font-weight-bold" href="picoTijuca">PICO DA TIJUCA</a> <br>
                                        <i class="fa fa-globe text-info"></i>
                                            LOCAL: RIO DE JANEIRO <br>
                                        <i class="fa fa-calendar text-dark"></i>
                                            DATA: 08/12/19 <br>
                                        <i class="fa fa-money text-success"></i>
                                            VALOR: R$80,00 <br>                                            
                                            😅NÍVEL:MODERADO <br>
                                        <i class="fa fa-hourglass-half text-danger"></i>
                                            VAGAS: 5 <br>
                                            <!--<a class="btn btn-success" href="formulario">Comprar</a>-->
                                            {% include "submit.html"%}
                                    </li>        
                                </ul>                            
                            </ul>
                        </p>

                    </div>
                </div>
            </p>
        </section>

        <!--<section>
            <div class="container-md container-fluid" >
                <p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfyGeZJPnCeaMPaZEq8nyWbPn6pigbtwwIx0tKuffEBLHtf3w/viewform?embedded=true"
                     target="_blank" rel="noopener noreferrer" width="822" height="773" frameborder="0" marginheight="0" marginwidth="0">Responda ao Questionário</a>
                </p>
              </div>            
        </section>-->

        <section>
          <div class="container-md container-fluid" >
            <p>
              Gostou da trilha?
              Clique no botão e venha conosco!
            </p>
          </div>
        </section>
        
        <!--<section>
            <div class="container-md container-fluid">
                INICIO FORMULARIO BOTAO PAGSEGURO
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
                NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO
                <input class="dist" type="hidden" name="code" value="D8EA452E1313CCAFF4FE6FB26A42E8CD" />
                <input class="dist" type="hidden" name="iot" value="button" />
                <input class="dist" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </form>
                 FINAL FORMULARIO BOTAO PAGSEGURO 
            </div>
        </section>-->

        <hr>

        {% include "footer.html"%}
    </body>
</html>