<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Tijuca - Trilhando Teresópolis</title>

        <style>
            
        </style>
    </head>

    <body>
      <section>
        <header class="container-fluid container-md">
            <div class="jumbotron-fluid JumboHeadImgPiTij2">
                {% include "nav.html"%}
            </div>
        </header>    
      </section>

        <section>
            <div class="container container-fluid container-md">
                <h4 class="text-center text-white font-weight-bolder bg-success">
                  PICO DA TIJUCA
                </h4>
            </div>
        </section>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <div>
                        <p>
                            <h3 class="text-center font-weight-bolder">
                              Trilha do Pico da Tijuca – Floresta da Tijuca – RJ
                            </h3>
                        </p>
    
                        <p>
                          A principal trilha para o Pico da Tijuca começa no Largo do Bom Retiro, que se encontra a aproximadamente 685 metros do nível do mar, 
                          o largo está situado no final da estrada dos Picos que se inicia junto à sede do Parque (Barracão).
                        </p>

                        <p>
                          <h6 class="font-weight-bold">
                            Estrada para o Alto da Boa Vista
                          </h6>
                        </p>
    
                        <p>
                          Para chegar lá basta pegar a estrada para o Alto da Boa Vista, seja saindo da Tijuca ou da Barra (a via funciona em mão dupla), 
                          e procurar a Praça Afonso Vizeu. Ali está um dos acessos ao parque que é o mais perto para chegar ao destino em questão. É permitida 
                          a entrada de carros e é possível seguir em automóvel até a base da trilha, no Bom Retiro, ponto final de uma estradinha dentro da Floresta.
                          Se preferir caminhar desde a praça, soma-se quase uma hora.
                        </p>

                        <p>
                          <h6 class="font-weight-bold">
                            Boa sinalização, mata fechada e animais
                          </h6>
                        </p>
                        
                        <p>
                          O percurso é bem sinalizado e sua dificuldade é moderada. No passeio em mata fechada é possível esbarrar com borboletas, 
                          ouvir o canto dos pássaros, avistar micos divertindo-se pulando de um galho para o outro, lagartos fugindo com medo dos nossos passos,
                          além de insetos e teias de aranha. Além disso, a trilha é bem protegida do sol até o ponto onde o caminho chega na rocha que forma o pico em si,
                          daí em diante há pouca sombra e o terreno fica bem mais inclinado.
                        </p>

                        <p>
                          <h6 class="font-weight-bold">
                            Início da Trilha
                          </h6>
                        </p>

                        <p>
                          O inicio da da trilha é o mesmo que segue para o Bico do Papagaio, que falei no post anterior, sendo ela relativamente fácil, bem marcada 
                          e protegida pela sombra das árvores. Ela começa em um aclive suave em ziguezague até a primeira bifurcação, a trilha correta para o Pico da Tijuca 
                          é a da direita. Se você quiser ir até o Bico do Papagaio ou para o Cocanha, a opção é a da esquerda. Após essa bifurcação a trilha segue até a 
                          encosta do Costão do Pico da Tijuca, passando então a acompanhar a vertente Nordeste do Pico em outro ziguezague até chegar no seu dorso, 
                          nesse ponto se prestarmos atenção encontraremos uma entradinha a esquerda que é a trilha que segue para o Pico da Tijuca Mirim, pois ela não é muito clara, 
                          se seguir direto na trilha principal chegará em 5 minutos na escadaria de pedra que dá acesso ao Pico da Tijuca.
                        </p>

                        <p class="img-fluid text-center">
                          <img class="img-fluid text-center" src="Imagens/tijuca2.jpg" alt="Topo do Pico da Tijuca">
                          <figcaption class="text-center font-weight-bold">Topo do Pico da Tijuca</figcaption>
                        </p>
    
                        <p>
                          Finalmente, lá do alto, conseguimos observar a cidade em 360 graus, e avistamos a extensão da orla, a Lagoa Rodrigo de Freitas, o Cristo Redentor, 
                          o Maracanã, a Ponte Rio-Niterói e até o Engenhão. A temperatura é bem mais baixa, venta bastante e é recomendado levar um agasalho, quando o dia não 
                          estiver ensolarado. Outra boa pedida é levar água e lanchinhos, e fazer da base da montanha mesa para um pique-nique nas alturas, porém o difícil será 
                          encontrar um lugar que tenha sombra já no cume.
                        </p>
    
                        <p>
                          O turismo de aventura adaptada é uma atividade nova no Brasil, no entanto tem crescido nos últimos anos.
                          O projeto deu uma pausa na agenda até o fim do ano, mas volta com a programação em 2020.
                        </p>

                    </div>
                </div>
            </p>
        </section>

        <hr>

        {% include "footer.html"%}
    </body>
</html>