<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Rafting - Trilhando Teresópolis</title>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgPiTij">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h4 class="text-center text-white font-weight-bolder bg-success">
                  RAFTING
                </h4>
            </div>
        </section>

        <!--<section>
            <div class="container-md container-fluid">
                INICIO FORMULARIO BOTAO PAGSEGURO
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
                NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO
                <input class="dist" type="hidden" name="code" value="D8EA452E1313CCAFF4FE6FB26A42E8CD" />
                <input class="dist" type="hidden" name="iot" value="button" />
                <input class="dist" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </form>
                 FINAL FORMULARIO BOTAO PAGSEGURO 
            </div>
        </section>-->

        <!--<section>
            {% include "submit.html"%}
        </section>-->

        <br>

        <section>
            <p>
                <div class="container-fluid container-md">
                    <div>
                        <p>
                            <h3 class="text-center font-weight-bolder">
                              RAFTING NO RIO PARAIBUNA - TRÊS RIOS
                            </h3>
                          </p>

                        <p>
                            <div class="text-center">
                                <img class="img-fluid text-center" src="Imagens/Aventuras/rafting2.jpg" title="Topo" width="500px">
                            </div>
                        </p>

                        <!--<section>
                            <p>
                                <div class="container container-fluid container-md">
                                    <div class="carousel slide" id="carrosel" data-ride="carousel" data-interval="4000">  
                                        <div class="carousel-inner bg-white" style="height: 400px;">
                                            <p>
                                                <div class="carousel-item active">
                                                    <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/rafting2.jpg" alt="Travessia Petrópolis - Teresópolis" width="450px">
                                                    <div class="carousel-caption d-none d-md-block"></div>
                                                </div>
                                            </p>
                
                                            <div class="carousel-item carousel-fade">
                                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/rafting3.jpg" alt="Travessia Petrópolis - Teresópolis" width="450px">
                                            </div>
                
                                            <div class="carousel-item carousel-fade">
                                                <img class="img-fluid mx-auto d-block" src="Imagens/Aventuras/rafting.jpg" alt="Travessia Petrópolis - Teresópolis" width="535px">
                                            </div>
                                
                                            <a class="carousel-control-prev text-dark" href="#carrosel" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Anterior</span>
                                            </a>
                                
                                            <a class="carousel-control-next" href="#carrosel" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Próximo</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </p>  
                        </section>-->

                        <p>
                          <h6 class="font-weight-bold">
                            Sobre o Rafting
                          </h6>
                        </p>
    
                        <p>
                          O rio Paraibuna nasce em Minas Gerais, mais precisamente na Serra da Mantiqueira, tem aproximadamente 180 km de extensão,
                          ele desagua no rio Paraíba do Sul onde juntamente com o rio Piabanha formam o encontro dos Três Rios. O Paraibuna é um rio de
                          grande volume de agua, é considerado um dos melhores do Brasil para a prática de rafting, pois possibilita a prática do esporte durante o ano todo.
                        </p>

                        <h5><strong>PROGRAMAÇÃO DA VIAGEM</strong></h5>
                        <p>
                          - Saída as 07h00 com previsão de chegada as 09h00 em Três Rios.<br>
                          - A atividade inicia às 09h30, com a chegada dos participantes na base para:<br>
                          - Café da manhã;<br>
                          - Assinatura do Termo de Responsabilidades;<br>
                          - Distribuição dos equipamentos de segurança (coletes e capacetes).<br>
                          - Os participantes seguem em nosso transporte para o local de embarque do rafting.<br>
                          - Começa a aventura, o rafting tem a duração estimada de 3h.- Por volta das 15h acontece o desembarque dos participantes no Restaurante Pontal para o almoço.<br>
                          - Após o almoço os clientes podem desfrutar das instalações na base Aventur.- Retorno a Teresópolis às 17h00.<br>                            
                        </p>
    
                        <p>
                            <ul>
                              <li class="font-weight-bold">Outubro</li>
                                <ul>
                                    <li>
                                      <i class="fa fa-map-marker text-success"></i>
                                      <a class="font-weight-bold" href="http://www.aventur.com.br/" target="_blank">
                                          RAFTING
                                      </a><br>
                                      <i class="fa fa-globe text-info"></i>
                                          LOCAL: TRÊS RIOS<br>
                                      <i class="fa fa-calendar text-dark"></i>
                                          DATA: 11/10/2020<br>
                                      <i class="fa fa-money text-success"></i>
                                          VALOR: R$240,00 à vista
                                          ou 2x de R$120,00<br>
                                          <i class="fa fa-credit-card"></i>
                                          ou R$260,00 divididos em 10x no cartão de crédito <br>
                                          <i class="fa fa-bank"></i>
                                          DEPÓSITO <br>                                          
                                            <i class="fa fa-circle-o"></i>
                                            <u>Ag. 0542-8 CP 100927B-7 Bradesco - Carine Ribeiro Rocha</u><br>
                                            <i class="fa fa-circle-o"></i>
                                            <u>Ag. 7455 - 16146-8 - Itaú - Pablo Ribeiro Rocha</u><br>
                                          
                                      <i class="fa fa-hourglass-half text-danger"></i>
                                          VAGAS: 5 <br>
                                          <!--<a class="btn btn-success" href="formulario">Comprar</a>-->
                                          <button class="btn btn-success" onclick="document.location='formulario'">Comprar</button>
                                    </li>        
                                </ul>                            
                            </ul>
                        </p>
                    </div>
                </div>
            </p>
        </section>

        <!--<section>
            <div class="container-md container-fluid" >
                <p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfyGeZJPnCeaMPaZEq8nyWbPn6pigbtwwIx0tKuffEBLHtf3w/viewform?embedded=true"
                     target="_blank" rel="noopener noreferrer" width="822" height="773" frameborder="0" marginheight="0" marginwidth="0">Responda ao Questionário</a>
                </p>
              </div>            
        </section>-->

        <!--<section>
          <div class="container-md container-fluid" >
            <p>
              Gostou da trilha?
              Compre apertando o botão abaixo e venha conosco!
            </p>
          </div>
        </section>

        <section>
            <div class="container-md container-fluid">
                <button class="btn btn-success" onclick="document.location='formulario.html'">Comprar</button>
            </div>
        </section>
        
        <section>
            <div class="container-md container-fluid">
                INICIO FORMULARIO BOTAO PAGSEGURO
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
                NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO
                <input class="dist" type="hidden" name="code" value="D8EA452E1313CCAFF4FE6FB26A42E8CD" />
                <input class="dist" type="hidden" name="iot" value="button" />
                <input class="dist" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </form>
                 FINAL FORMULARIO BOTAO PAGSEGURO 
            </div>
        </section>-->

        <br>

        <hr>

        {% include "footer.html"%}
    </body>
</html>