<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include "head.html"%}
        <title>Sobre - Trilhando Teresópolis</title>

        <style>
        
        </style>
    </head>

    <body>
        <section>
            <header class="container-fluid container-md">
                <div class="jumbotron-fluid JumboHeadImgSobre">
                    {% include "nav.html"%}
                </div>
            </header>    
          </section>

        <section>
            <div class="container container-fluid container-md">
                <h3 class="text-center text-white font-weight-bolder bg-success">
                    CONHEÇA A NOSSA HISTÓRIA
                </h3>
            </div>
        </section>

        <section>
            <p>
                <div class="container container-fluid container-md teste">
                    <p class="teste">  
                        Criado em 2011, mas oficializado em Outubro de 2015, na cidade de Teresópolis-RJ, a capital
                        nacional do montanhismo, pelos <a href="guias">irmãos</a>
                        <strong>Carine Ribeiro</strong> e <strong>Pablo Rocha</strong>, guias cadastrados CADASTUR, 
                        o <strong class="text-dark">Trilhando Teresópolis</strong> conta hoje com quase <b>100</b> participantes, nos mais diversos tipos de aventuras:
                        trilhas, travessias, expedições, escaladas, rafting, rapel.
    
                    </p>
    
                    <section>
                        <div class="img-fluid float-md-right text-center font-weight-bold">
                            <figure>
                                <img class="text-center" src="Imagens/Sobre/pablo.jpg" alt="Pablo Rocha" title="Pablo Rocha">
                                <figcaption>Pablo Rocha</figcaption>
        
                                <img class="text-center" src="Imagens/Sobre/carine.jpg" alt="Carine Ribeiro" title="Carine Ribeiro">
                                <figcaption>Carine Ribeiro</figcaption>

                                <img class="text-center" src="Imagens/Sobre/felippe.jpg" alt="Felippe Rocha" title="Felippe Rocha">
                                <figcaption>Felippe Rocha</figcaption>

                                <img class="text-center" src="Imagens/Sobre/eddy.jpg" alt="Edson Sena (Eddy)" title="Edson Sena (Eddy)">
                                <figcaption>Edson Sena (Eddy)</figcaption>

                                <img class="text-center" src="Imagens/Sobre/robson.jpg" alt="Robson Teodoro" title="Robson Teodoro">
                                <figcaption>Robson Teodoro</figcaption>
                            </figure>
                        </div>
                    </section>
        
                    <p class="teste">
                        O ano de 2004, foi o início de tudo, com viagens em família, passeios religiosos com amigos de igreja e parques temáticos levando amigos de escola. 
                        Com os irmãos Pablo Rocha e Felippe Rocha, Carine Ribeiro obteve o apoio para organizar os passeios e, assim, chamando os amigos para completar o ônibus.
                    </p>

                    <p class="teste"
                        Quando Carine começou a trabalhar, e assim, tendo acesso a internet, ela fez muitas pesquisas sobre turismo e
                        trilhas na Internet, onde viu algumas fotos da <a href="pedraBonita">Pedra Bonita</a> no Rio,
                        e então decidiu fazer um passeio com familiares e amigos, onde realizamos a nossa <strong>primeira trilha em 2011</strong>.
                    </p>

                    <p class="teste">
                        Após um longo período sem fazer trilhas e viagens devido à falta de tempo, já que seus irmãos Felippe e Pablo também já estavam trabalhando,
                        os três irmãos decidiram juntar alguns amigos e em Outubro de 2015 retornaram às trilhas e conhecer o <a href="picoTijuca2">Pico da Tijuca</a>.
                        Após a trilha, decidiram criar um grupo no <i>WhatsApp</i> para convidar mais pessoas que também gostam de fazer trilhas.
                    </p>

                    <p class="teste">
                        Assim o grupo foi crescendo e batizado de <strong><i>More Adventure</i></strong> que significa "Mais Aventura".
                    </p>

                    <p class="teste">
                        Não querendo ficar limitado a um grupo, e sim criar uma marca para nossa cidade e explorar as trilhas tanto de Teresópolis-RJ,
                        contribuindo para o turismo do município, quando no Estado do Rio de Janeiro, Pablo criou a página 
                        <a class="text-success" href="https://instagram.com/trilhandoteresopolis?igshid=1vq7gglu8x5j7" target="_blank"><strong><i>TrilhandoTeresopolis</i></strong></a>
                        no Instagram, mostrado as belezas da nossa cidade através de <i>post</i> e <i>reposts</i>.
                        Nossa página hoje conta com mais de 4 mil seguidores.
                    </p>

                    <p class="teste">
                        No ano de 2019, o <strong>Trilhando Teresópolis</strong> deu um grande passo, os irmãos <strong>Carine Ribeiro</strong> e <strong>Pablo Rocha</strong> se 
                        formaram guias cadastrados CADASTUR, juntamente com <strong>Edson Sena (Eddy)</strong>, namorado de Carine. 
                    </p>

                    <p class="teste">
                        E em 2020, mesmo em meio a pandemia do COVID-19, Carine Ribeiro concluiu seu curso de <strong>Agente de Viagens</strong> pelo SENAC-RJ.
                    </p>
                    <p class="teste">
                        Durante o ano de 2019, Carine Ribeiro queria fazer um site para o Trilhando Teressópolis, mas ela estava envolvida em vários projetos durante 
                        o ano, então no início do ano de 2020, <strong>Robson Teodoro</strong> decidiu criar o site para o grupo,
                        assim desenvolvendo uma maneira de aproximar as pessoas a gostarem de trilhas e cuidarem da natureza para que todos possam aproveitar dela,
                        mostrando <a href="aventuras">os lugares que já visitamos</a>, <a href="iniciantes">dicas para iniciantes nas trilhas</a> ...
                    </p>
                </div>
            </p>    
        </section>

        <!--<section>
            <p>
                <p>
                    <div class="container container-fluid container-md" id="enviar">
                        <p class="ttt" id="não especial">Clique aqui e agende sua trilha com a gente</p>
                        <a class="btn btn-success btn-group-toggle" href="mailto:trilhandoteresopolis@gmail.com" target="_blank">Clique Aqui</a>
                    </div>
                </p>
            </p>            
        </section>-->

        {% include "footer.html"%}
    </body>
</html>